[2016-06-22 02:48] schrum2 commented on #151
What is left on this issue?

[2016-06-22 14:07] schrum2 commented on #108
Transferred this to balance work loads. However, this is still a lower priority issue

[2016-06-22 14:08] schrum2 commented on #110
I transferred this back to Alex since some of his research interests indicate that he might need to use it soon.

[2016-06-22 14:09] leg2015 commented on #151
Not sure, will close

[2016-06-22 14:09] #151 closed, assigned to leg2015

[2016-06-22 14:47] Rollinsa commented on #64
Tested the two used static controllers. Others unused

[2016-06-22 14:47] #64 closed, assigned to Rollinsa

[2016-06-22 14:48] Rollinsa commented on #54
Do a JUnit test for the GroupPredPreyTask to test that none of its values (sensorLabels, outputLabels, numberPop, Objectives, etc) are null and that they are the correct size

[2016-06-22 14:59] Rollinsa opened #216 "Use multi-modal in the PredPrey domain"
Use and test multi-modal domain with homogeneous preds, cooperative preds, homogeneous competitive, and cooperative competitive coevolution

[2016-06-22 15:08] schrum2 opened #217 "Bias inputs for HyperNEAT substrate networks"
We've already discussed how bias inputs for networks are theoretically important. The network may have trouble learning certain things without a bias.

The CPPNs themselves have a bias input, but the substrate networks don't. We could simply add a bias input to each HyperNEATTask, but since the bias is not part of the task geometry, this would mean having an extra 1X1 substrate for each task, and

[2016-06-22 15:15] Rollinsa commented on #216
PredPrey: Created batch files to run multiModal in predPrey world. Updated batch file naming. Fixed bug with multiModal and cleaned up code with sensorLabels.

[2016-06-22 15:15] Rollinsa commented on #216
The above comment is for multiModal with homogenous predators against static prey

[2016-06-22 15:16] Rollinsa commented on #216
PredPrey: Created batch files to run multiModal in predPrey world for homogeneous predators vs static prey. Updated batch file naming. Fixed bug with multiModal and cleaned up code with sensorLabels.

[2016-06-22 16:03] leg2015 commented on #217
Added new boolean command line parameter, evolveHyperNEATBias

[2016-06-22 16:10] Rollinsa commented on #216
Created batch files to run and test multiModal usage for Cooperative Pred

[2016-06-22 16:20] Serenamidori commented on #210
Currently started this, need to fill out methods and test this

[2016-06-22 16:52] leg2015 commented on #217
Added to MMNEAT so index of output from cppn is updated correctly

[2016-06-22 18:50] Rollinsa opened #218 "Readjust the catchClose predator objective so that it reflects the best multi-objective"
Readjust the catchClose predator objective so that it reflects the best multi-objective, which is having a distance score for the predator team's distance to each prey rather than just the pred team distance to the prey team.

[2016-06-22 18:53] Rollinsa opened #219 "Make the single fitness function for the prey reflect the multi-objective fitnesses"
Currently, the best single fitness function for the prey is based on just maximizing game time if all prey die and minimizing number of prey caught, while the multi-objective fitnesses being used maximize survival time, maximize distance from the closest predator, and minimize the number of prey caught.

[2016-06-22 18:54] Rollinsa commented on #218
Readjusted Prey single fitness score to be easier to interpret. Reordered objectives ordering so that the most telling score is listed first each time (simply number of prey caught) and the best single fitness is next.

[2016-06-22 18:54] Rollinsa commented on #219
Readjusted Prey single fitness score to be easier to interpret. Reordered objectives ordering so that the most telling score is listed first each time (simply number of prey caught) and the best single fitness is next.

[2016-06-22 19:03] leg2015 commented on #217
Added bias to node class in both tweann and tweannGenotype

[2016-06-22 19:03] leg2015 commented on #217
Implemented bias in hyperneatcppngenotype. All that is left is some testing

[2016-06-22 19:29] schrum2 opened #220 "Sanity check for Tetris: Piece restrictions"
It's frustrating to watch the HyperNEAT Tetris agents do things that seem smart, only to mess up and make complete mistakes. Therefore, I have a sanity check in mind tat could also be useful for other purposes. For each type of piece in Tetris, make a boolean parameter that indicates whether or not that given piece is allowed. The parameters could have names like tetrisAllowLine, tetrisAllowZ, tet

[2016-06-22 19:50] leg2015 commented on #188
Added a new test for speed and it appears that the mlp is almost twice as slow as the tweann, which is not reassuring. Not probably going to be worth exploring the substrateMLP avenue anymore so will close this issue

[2016-06-22 19:50] #188 closed, assigned to schrum2, leg2015

[2016-06-22 20:21] Serenamidori commented on #210
Update- HyperNEAT Mario will now ignore the bias in inputs, and it has two output substrates that mimic a d-pad and button for attacking. This is pretty much done unless specific issues arise, so I'll close this now.

[2016-06-22 20:21] #210 closed, assigned to Serenamidori

[2016-06-22 20:34] Rollinsa commented on #216
Allowed for multiModal in cooperative predPrey

[2016-06-22 21:09] Rollinsa commented on #218
Updated and improved the single fitness called PredatorCatchCloseObjective to more accurately mirror the multi Indiv CC.  Next would be to completely mirror the multi-objective fitnesses in a single objective by weighting and adding together the actual single objectives themselves within the main single objective

[2016-06-22 21:16] Serenamidori commented on #220
Synced those changes, there are parameters for each piece that you can set to false to disallow them in a game. However, we still need to test it and use it for the sanity check itself.

[2016-06-22 21:21] schrum2 opened #221 "Split holes and blocks in Tetris"
For HyperNEATTetris, have an option that splits the holes and the blocks across two separate input substrates. This should be a boolean parameter.

You will need to change the substrate list to have two separate input substrates, but you will also need to add some code to the RawTetrisStateExtractor to allow both the original input style and this new input style. Several changes are needed here:

[2016-06-22 21:23] schrum2 commented on #105
Decided to share this task with Gabby. You can either work on it together, or whichever one of you gets to it first can take it on.

[2016-06-22 21:24] schrum2 opened #222 "Remove getSubstrateInputs from HyperNEATTask"
getSubstrateInputs doesn't seem to actually be used by any of the HyperNEAT tasks. There is one exception (pred/prey) but it can just be handled in a special way. There is no need to have this method as part of the interface.

[2016-06-22 21:42] schrum2 opened #223 "showCPPN"
Currently, when the network is shown in a post-eval from HyperNEAT, it shows the substrate network. However, it would be useful to see the CPPN as well. Add code to the call() method inside the EvaluationThread of the LonerTask. After the if (genotype instanceof TWEANNGenotype) check, have an additional check to see if the genotype is the HyperNEATCPPNGenotype, and if so make a separate display pa

[2016-06-22 21:45] Rollinsa commented on #213
Split up edu.utexas.cs.nn.experiment package into experiments for post and experiments for evolution

[2016-06-22 21:45] #213 closed, assigned to Rollinsa

[2016-06-22 22:00] leg2015 commented on #122
Got junit test to run! Therefore, leo is implemented

[2016-06-22 22:00] #122 closed, assigned to leg2015

[2016-06-22 22:02] leg2015 commented on #217
Got it set up and junit tested. Therefore, will close this issue

[2016-06-22 22:02] #217 closed, assigned to leg2015

[2016-06-22 22:17] #220 closed, assigned to Serenamidori, leg2015

[2016-06-22 22:18] leg2015 commented on #158
Finally got junit test done on MLP class

[2016-06-22 22:18] #158 closed, assigned to leg2015

[2016-06-22 23:06] leg2015 commented on #221
added the two input substrates to the hyperNEATTetris task but there are a few other places where I need to add stuff, just not sure where those spots are. Will hunt them down tomorrow

[2016-06-23 03:25] #222 closed, assigned to schrum2

[2016-06-23 03:57] schrum2 commented on #214
Fixed with 03d1cad78f674b7f76b71e7a92173c0c809a48eb

[2016-06-23 03:57] #214 closed, assigned to leg2015

[2016-06-23 04:40] schrum2 opened #224 "Stretched tanh function"
Add a new stretched version of tanh as described in this post: http://stackoverflow.com/questions/13632976/neural-network-with-tanh-wrong-saturation-with-normalized-data

Try using it as the ftype in HyperNEAT experiments.

Make sure it can be added or removed from the CPPN function set as well.

[2016-06-23 04:43] schrum2 opened #225 "Add bias input to pred prey"
Evolved agents should always have one input that is a constant value of 1. This sensor's label should be Bias.

[2016-06-23 04:48] schrum2 commented on #225
By the way, if you are curious as to why, read this: http://stackoverflow.com/questions/2480650/role-of-bias-in-neural-networks

[2016-06-23 15:13] leg2015 commented on #221
Got it working. Running batch files with the feature on. Will close issue though because it is done

[2016-06-23 15:13] #221 closed, assigned to leg2015

[2016-06-23 15:37] leg2015 commented on #223
Added a new parameter called showCPPN and the necessary code to get the CPPN to be visualized and it works! Also added the new parameter to all relevant post watch batch files

[2016-06-23 15:37] #223 closed, assigned to leg2015

[2016-06-23 16:59] Rollinsa commented on #225
Created a sensor bias input for the predPrey

[2016-06-23 16:59] #225 closed, assigned to Rollinsa

[2016-06-23 18:43] Serenamidori commented on #208
These VizDoom tasks have been completely filled in now (28878790ec917fef6f087a7cf40b18c8c9e7051a) but still need to be tested, so I'll leave this open until I can confirm they work.

[2016-06-23 18:52] Rollinsa opened #226 "Create official predPrey experiments to run for Individual vs Team Selection in Cooperative Coevolution"

[2016-06-23 18:57] Rollinsa commented on #226
Created official predPrey experiments to run for Individual vs Team Selection in Cooperative Coevolution.
Still need to make and run the experiments for cooperativeDistanceTeamSelection (with all of the individual distance scores in each population), cooperativeDistanceTeamAndAggregateTeamSelection, homogeneousDistanceTeamSelection (with all of the individual distance scores in the population), ho

[2016-06-23 19:10] leg2015 commented on #224
Added a new parameter and activation function called stretchedTanh. Changed in all relevant places as well.

[2016-06-23 19:10] #224 closed, assigned to leg2015

[2016-06-23 20:06] leg2015 commented on #105
Implemented hyperNEATTask in MsPacManTask, still need to add other hyperNEAT harnesses though

[2016-06-23 20:26] Rollinsa commented on #168
Made an input panel for each monster in Breve2D. Still a weird color glitch with the sensors when running monitorInputs (using postBestObjectiveWatch) where random colors in the background and in the sensors flash once in a while.

[2016-06-23 21:27] Rollinsa commented on #226
Created an individual predator maximum number of prey caught fitness objective. This along with the preyCaught objective with predators as a team are added appropriately to the official experiments in addition to the current distance functions because the distance was not enough to stand alone.

[2016-06-23 21:57] Rollinsa commented on #226
Still need to make and run the experiments for cooperativeTeamSelection, cooperativeTeamAndAggregateTeamSelection, homogeneousTeamSelection, homogeneousAggregateTeamSelection, and homogeneousTeamAndAggregateTeamSelection. This is a correction from above because the catch objective is now added in with the distance functions, with the individual catch objective when necessary and the aggregate team

[2016-06-23 22:31] leg2015 commented on #105
Added needed method in NNHyperNEATPacManController, however still need to get the mediator all figured out

[2016-06-24 01:15] schrum2 commented on #61
I'm sharing this with Gabby. Each of you can work together to fill out needed tests.

[2016-06-24 01:45] schrum2 opened #227 "Mario Jump Problem"
I checked out how the jump button responds when playing it myself, and the amount of time that the jump button is held down definitely affects the height of the jump. However, we still need to address the problem of being stuck when holding jump forever. Add a static final JUMP_TIMEOUT value to the NNMario agent.

The agent needs to have a counter for the number of time steps JUMP has been pressed

[2016-06-24 14:27] Rollinsa commented on #226
Added "cooperativeBalancedIndividualAndTeamSelection" which will be a selected balance of individual and team selection with individual distance selection and prey caught team selection (used to be predatorCoOpCC)

[2016-06-24 15:00] leg2015 opened #228 "Allow for multiple process substrates in HyperNEATTetrisTask"
Add a new parameter called HNTTetrisProcessDepth which creates n number of processing layers

[2016-06-24 15:20] leg2015 commented on #228
Added parameter and changes to hntTetrisTask, however when running a post watch on the new files it appears there's an error concerning the blocks substrate, will need to investigate further...

[2016-06-24 15:35] Serenamidori commented on #227
We've added the check for this in the code that's set up by parameter, but not tested yet

[2016-06-24 15:40] Serenamidori opened #229 "Multi-Objective Mario"
Trying to apply 2 more fitness functions for Mario - time alive (maxed at finishing a level) and punishment for getting hit.

[2016-06-24 15:42] Rollinsa commented on #226
Code made ready to run all official experiments for torusPredPrey IndividualVsTeam Selection by adding the objectives setup in the torusPredPreyTask, Parameters for each setup (along with explanations), and batch files. Added "cooperativeBalancedIndividualAndTeamSelection" which will be a selected balance of individual and team selection with individual distance selection and prey caught team sele

[2016-06-24 15:42] #226 closed, assigned to Rollinsa

[2016-06-24 16:11] #218 closed, assigned to Rollinsa

[2016-06-24 16:12] #219 closed, assigned to Rollinsa

[2016-06-24 16:18] Serenamidori commented on #229
I'm having more trouble with this, as there's not set variables for just the modes and time, so I'm trying to figure out what will go where.

[2016-06-24 16:42] leg2015 opened #230 "Change LonerTask so networks from previous runs are dumped"
Screen gets cluttered when multiple runs of tasks are done and previous runs are not discarded. Add to lonerTask so those previous panels will be discarded to clean up the screen

[2016-06-24 16:57] Rollinsa commented on #216
Created batch files to run and test multiModal usage for Competitive Predators, and they run (so it works with competitive multi-modal predPrey after fix for cooperative multi-modal predPrey)

[2016-06-24 16:57] #216 closed, assigned to Rollinsa

[2016-06-24 18:32] leg2015 commented on #228
Turns out there's not an error. The network I was using to check for the substrates had evolved to have no connections to the input layer. Therefore, this issue is finished and can be closed

[2016-06-24 18:32] #228 closed, assigned to leg2015

[2016-06-24 18:42] leg2015 commented on #230
Added a second drawingPanel to call method of lonerTask that can then be dumped when the experiment is finished along with the cppn panel.

[2016-06-24 18:42] #230 closed, assigned to leg2015

[2016-06-24 19:16] leg2015 commented on #200
All classes commented

[2016-06-24 19:16] #200 closed, assigned to Rollinsa, leg2015

[2016-06-24 19:57] Rollinsa commented on #110
Extensively commented the edu.utexas.cs.nn.evolution.nsga2.tug package. Also created a test which transformed all of the print statements in the main method of TUGNSGA2 into asserts for a JUnit test case.

[2016-06-24 19:57] #110 closed, assigned to Rollinsa

[2016-06-24 20:41] Rollinsa opened #231 "Allowing postBestObjectiveWatch to work during evolution"
Get postBestObjectiveWatch (and postBestObjectiveWatchMultiPop, since this would be very helpful for competitive coevolution) to work while the evolutionary run is still happening. There is a window where it does work and time where it doesn't, which has to do whether you are currently evaluating the children or not (make it work all the time).

[2016-06-24 20:42] schrum2 opened #232 "Scent/color paths in predator prey"
It would be nice if we could visualize in the pred/prey world when the agents are using different modules. Even if they all only have one module, it could be useful to see the paths they are traversing.

It should essentially look like the similar feature in Ms. Pac-Man: http://nn.cs.utexas.edu/?ol-pm

[2016-06-24 22:32] leg2015 commented on #105
So got all the basic code to implement hyperNEAT to ms PacMan set up, however the substrates produced are so huge that the code can't handle it(I added a println statement for every time a link is created and it creates SO many links). Will need to figure out a way to make the network smaller somehow if we want to be able to move forward in this domain...

[2016-06-25 03:05] schrum2 commented on #105
Keep removing pieces until we get something that at least runs. For starters, you could make the processing layer much smaller. We've seen in some Tetris runs how portions of the processing layer get ignored ... making it the same size as the input layers is just a rule of thumb. Try reducing the processing layer to 10 by 10, or even 5 by 5 if that doesn't work.

We could also drop the processing

[2016-06-26 15:23] Serenamidori opened #233 "Fix VizDoom resolution and inputs on the server"
When running VizDoom on the server, the input substrates and coordinates (for HyperNEAT and NEAT respectively) are correct, but the actual inputs are not. My current theory is that the resolution of the game and screen is not the one we assigned, which is backed but the fact that the screen is visibly larger (I originally thought this was just Window 10 trying to make it more visible, but that doe

[2016-06-26 15:28] Serenamidori commented on #229
Didn't update this on Friday, but moMario is implemented, just needs to be tested and let run on the server. Closing this for now.

[2016-06-26 15:28] #229 closed, assigned to Serenamidori

[2016-06-26 16:21] schrum2 commented on #233
The lowest resolution should definitely be our default.

Does this resolution issue only occur on the server/Windows 10? Very
curious.

On Sun, Jun 26, 2016 at 10:23 AM, Gab notifications@github.com wrote:

##

Jacob Schrum, Ph.D.
Assistant Professor of Computer Science
Department of Mathematics and Computer Science
Southwestern University
1001 E. University Ave.
Georgetown, TX 78626

Office: Mood

[2016-06-26 16:38] Serenamidori commented on #233
Not sure yet, it hasn't ever happened on the computer I work on now, but I'm wondering if that's always been an issue on the server computer. I'll go ahead and work on it today too and update on what I figure out.

[2016-06-26 16:39] Serenamidori commented on #32
DONE :+1:

[2016-06-26 16:39] #32 closed, assigned to Serenamidori

[2016-06-26 16:42] Serenamidori commented on #208
Update: these work correctly on the lab computers, but not the server computer, I'm going to fix this here #233, but this issue is done now,

[2016-06-26 16:42] #208 closed, assigned to Serenamidori

[2016-06-26 17:16] Serenamidori commented on #233
Update so far- the method where we set the restricted screen resolution is printing out that the resolution is 200x150 like it should, but the window is clearly bigger on the server. The input window is still the correct smaller size, so I'm guessing we're getting a chunk of the bigger screen and that's why the agent can't see anything- it's just looking at the walls. The only thing is, I don't kn

[2016-06-26 17:21] schrum2 commented on #233
Completely clearing out the server files and re-uploading them is probably
a good idea. In particular, make sure the server has the latest version of
the vizdoom directory.

[2016-06-26 17:35] Serenamidori commented on #233
Unfortunately, that doesn't change anything. I reloaded the files to the server, and made sure everything was the same (excluding src and bin folders because we never moved those over) and I get the same result. I took screen shots as well to explain what I think is going on.

I added two print statements to the VizDoom Task constructor- both after the resolution is set. The checks make sure our s

[2016-06-27 15:22] leg2015 commented on #105
So I finally got the network to construct if I cut out all but the msPacMan substrate and make the process substrate either nonexistent or really small. However, I believe there may be something a bit off with the outputs that are returned when process is called. Will have to investigate further, first by turning on watch and monitorSubstrates to see what happens

[2016-06-27 17:02] Rollinsa commented on #54
Worked a lot more on the TorusPredPreyTask Test

[2016-06-27 19:20] leg2015 commented on #105
Still not working yet, but there is a good amount of space between pills that we can compress to make then networks smaller and more efficient. Similar to Gabby's smudging

[2016-06-27 21:34] schrum2 opened #234 "Mario: stuck timer killing Mario while he is still running?"
Keep the completed results on the server and try to fix code. If you replace the jar file, you can run the post eval, but have extra output trying to explain what the problem is. If you find an error, you can also see if your changes fix the problem with an already evolved result.

[2016-06-27 21:42] schrum2 commented on #105
I think most of the scaling problems can be fixed by changing the NNHyperNEATPacManController.getOutputIndexFromNodeCoord method, and also the MS_PAC_MAN_SUBSTRATE_WIDTH and MS_PAC_MAN_SUBSTRATE_HEIGHT. The trick is to make every 5x5 box in the original input space correspond to a single grid cell in the substrate ... I think this is the appropriate amount to scale by, but we'll need to play aroun

[2016-06-28 05:07] schrum2 commented on #105
I made a lot of progress on this. All input substrates are smaller, and all of them work. I was able to make the processing layer slightly bigger, but not too big. The visual mode at least allows all components to display. The next step is to see if there is any chance of performing evolution within a reasonable time frame with this setup.

[2016-06-28 19:37] leg2015 commented on #24
Finally got MMP test up and running!

[2016-06-28 19:37] #24 closed, assigned to leg2015

[2016-06-28 19:55] leg2015 commented on #105
MsPacMan is running with hyperNEAT, albeit not very well. Changed output substrate to query every position in the game space to see whether ms pacman should move towards there or not

[2016-06-28 19:57] leg2015 opened #235 "Fix MeltThenFreeze tests"
Tests are still broken and need to be fixed

[2016-06-28 20:17] leg2015 commented on #172
read this paper: http://www.evolvingai.org/InnovationEngine

[2016-06-28 22:28] leg2015 commented on #235
Got this fixed!!!!

[2016-06-28 22:28] #235 closed, assigned to leg2015

[2016-06-29 18:40] leg2015 commented on #105
Got the nodes that aren't part of the maze to not link up. Works except for in visual without step-by-step. The reason is because there is a time limit to complete a move and the time it takes to set up the substrate visualizations is running over this time limit and crashing the program

[2016-06-29 19:20] schrum2 opened #236 "Identify dead neurons in VizDoom substrates"
There is a new substrate feature allowing dead neurons to be identified. Dead neurons are neurons (typically input or output neurons) that cannot affect the network's behavior. Therefore, it is a waste of time to define links leading into or out of them. Mario already has some of his D-pad neurons identified as dead ... these show up as grey in the substrate monitor. Identify the dead neurons in o

[2016-06-29 19:20] schrum2 commented on #234
Was this resolved?

[2016-06-29 19:21] schrum2 commented on #227
Was this resolved?

[2016-06-29 20:03] leg2015 opened #237 "Getting a null pointer exception when try to run Picbreeder"
Not sure what's causing it. We have fiddled a lot with the hyperNEAT code since the last time I ran it however...

[2016-06-29 21:09] schrum2 commented on #237
Turns out the Picbreeder never registered a fitness function. However, this mistake only became clear after some changes Alex made. It is fixed now though.

[2016-06-29 21:09] #237 closed, assigned to leg2015

[2016-06-30 21:10] Serenamidori commented on #236
Done, but needs to be tested :+1:

[2016-06-30 21:12] Serenamidori commented on #234
No- haven't looked into it because this happened a little while ago. We need to replicate the error, because I'm not sure when/where it would have happened.

[2016-06-30 21:43] leg2015 commented on #105
Added parameters that allow for separate threat and edible substrates. Also added code that creates a full screen power pill substrate. Also added option for there to be a larger processing substrate. These changes seem to run but there's still the odd error that we were getting with the substrate visualizations from earlier. Will need to investigate further...

[2016-06-30 21:46] leg2015 commented on #61
Still need tests for polynomial weight mutation, redirect link mutation, and MMR

[2016-07-01 01:31] schrum2 commented on #61
Skip polynomial weight mutation, but complete the rest

[2016-07-01 14:19] leg2015 commented on #61
All that's left then is redirect and MMR

[2016-07-01 14:22] leg2015 opened #238 "Get all JUnit tests in src running"
Also, finish all tests that aren't finished and if there are tests that are empty, either make the test or get rid of it

[2016-07-01 14:42] leg2015 commented on #238
For hyperNEATGenotype test, it appears that for each test that runs, an extra 2 outputs get added to the CPPN each time which is quite odd. Not sure why this is happening or how to fix it...

[2016-07-01 14:43] leg2015 commented on #238
Also, if you run the substrateMLP on its own, it passes every time. However, when you run it with all other JUnit tests, the TWEANN and MLP no longer match, which is also very interesting

[2016-07-01 14:46] leg2015 commented on #238
The statisticsUtilities class is doing the exact same thing. It passes every time it is run separately, but when run with all other JUnit tests, the argmax tests no longer pass. Not sure what is going on but this warrants further investigation...

[2016-07-01 15:04] schrum2 commented on #238
For each tests, make sure that the setup clears all classes (there is a
method in MMNEAT for this) and also clears out the parameters. We may need
to explicitly destroy the original parameter instance and reinitialize it
from scratch ... I feel like some leftover, unchanged parameter is causing
the problem. For example, evolved HyperNEAT bias is now the default, which
is one way that extra outputs

[2016-07-01 16:52] leg2015 commented on #238
Need to make sure every JUnit test class has a tear down method that  clears the classes in MMNEAT. If that doesn't fix the problem with the junit tests, then will have to expore another path

[2016-07-01 19:40] leg2015 commented on #238
Got them finally working!

[2016-07-01 19:40] #238 closed, assigned to Serenamidori, leg2015

[2016-07-01 20:39] leg2015 commented on #61
worked on MMR test. Throws an annoying out of bounds error however that needs to be looked at

[2016-07-01 20:58] leg2015 commented on #61
Also added test for redirect link. Part of it doesn't pass however so it needs to be revisited at some point.

[2016-07-01 20:58] leg2015 commented on #105
I think it's safe to call this closed since we have official runs of pacMan going.

[2016-07-01 20:58] #105 closed, assigned to Serenamidori, leg2015

[2016-07-01 21:27] leg2015 commented on #61
Got all dem tests done!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2016-07-01 21:27] #61 closed, assigned to Serenamidori, leg2015

[2016-07-02 00:04] schrum2 opened #239 "Pac man ghost paths in substrates"
Option to fill ghost substrates with activation along paths to each ghost. Strength of activation is stronger when nearer to ghost.

[2016-07-05 14:46] schrum2 opened #240 "Most activated substrate output"
In some HyperNEAT domains, like Ms Pac-Man, it would be useful to identify the outputs in terms of relative rank rather than in terms of absolute activation. There should be a command-line parameter that handles this. In fact, I can see two different approaches:

Simple: Do the substrate coloring like usual, but color the most activated output neuron (that's not dead) green. It is important to ign

[2016-07-05 19:34] Serenamidori commented on #234
Fixed it! :+1:

[2016-07-05 19:34] #234 closed, assigned to Serenamidori

[2016-07-05 19:38] Serenamidori commented on #227
Closing this for now- we have two timeouts and we only really use one of them. The Stuck Timeout makes sure that when mario is stuck, after a given time limit he will be expected to move again or it will end that game

[2016-07-05 19:38] #227 closed, assigned to Serenamidori

[2016-07-05 19:39] Serenamidori commented on #233
Added wontfix and going to close this because unless we can confirm that this issue happens on the other work computers, it's really a non-issue. We just can't use the server for VizDoom

[2016-07-05 19:39] #233 closed, assigned to Serenamidori

[2016-07-05 20:56] leg2015 commented on #240
Got both done. There are now parameters that are associated with both and can work in tandem or separately.

[2016-07-05 20:56] #240 closed, assigned to leg2015

[2016-07-06 14:35] Serenamidori commented on #236
Fixed and tested, I added coordinates backwards for some tasks.

[2016-07-06 14:35] #236 closed, assigned to Serenamidori

[2016-07-06 16:55] Rollinsa opened #241 "Fix torusPredPreySensors so that agents don't sense themselves"

[2016-07-06 16:55] Rollinsa commented on #54
Finished the TorusPredPreyTask JUnit Test

[2016-07-06 16:55] #54 closed, assigned to Rollinsa

[2016-07-06 17:50] #239 closed, assigned to leg2015

[2016-07-06 18:20] schrum2 opened #242 "Ms Pac Man full screen (visualizer or controller?)"
The Ms PacMan HyperNEAT controller that uses the full screen output to plan paths either does not work, or the visualizer for the most activated neuron does not work. It's not clear where the problem is.

[2016-08-05 21:50] schrum2 opened #243 "No bias for HyperNEAT with features in Tetris"
When using HyperNEAT with intelligent features in Tetris, the bias is still included, even though substrate network neurons are already biased by the presence of the bias output in each CPPN module. This bias input should be removed from the feature extractor when HyperNEAT is being used, and the substrate layout generated by the HyperNEAT Tetris task should account for this.

[2016-08-05 21:55] schrum2 opened #244 "Roving eye for HyperNEAT in Ms. Pac-Man"
Instead of having Ms. Pac-Man input substrates fixed in location, the center of the substrate could always by where Ms. Pac-Man is. Inputs off of the edge of the top or bottom would simply provide no input, but when moving to the left or right, the inputs could account for the way that the screen wraps around. This approach could allow for smaller input substrates ... it would definitely require a

[2016-08-05 21:59] schrum2 opened #245 "HyperNEAT in Ms Pac-Man with intelligent features"
Find a way of organizing the Ms. Pac-Man features from my previous papers across substrates, so they can be used with HyperNEAT

[2016-08-05 22:03] schrum2 opened #246 "HyperNEAT weight visualization"
Add a way of visualizing the HyperNEAT substrate network's link weights geometrically. Specifically: for each layer with incoming links, have a grid where each cell represents one of the neurons with incoming links ... then, within that cell, sub-divide the cell to have the geometry of the incoming layer, so that the position in the cell is the source of the link, and the coloring of that position

[2016-08-09 18:40] schrum2 opened #247 "Seed NEAT run based on HyperNEAT substrate"
Add a way to seed a population of a standard NEAT run using a network structure based on the substrate layout for a HyperNEAT version of the task. This can be used to test if the network structure provided by HyperNEAT provides an advantage over standard starting with a perceptron, as with standard NEAT.

[2016-08-23 16:24] schrum2 opened #248 "realTest in DeleteLinkMutationTest sometimes fails"
There is some randomness in the test that makes it work sometimes and fail at others.

[2016-08-24 18:30] schrum2 commented on #246
Distinguish the color of positive, negative, and missing/absent links.

[2016-08-24 18:48] schrum2 commented on #247
Standard TWEANNGenotypes make assumptions about the innovation numbers of networks that are broken by the TWEANNGenotypes created by CPPNs. There are two ways of addressing this inconsistency.
1) The innovation numbers are only needed for crossover and (maybe) structural mutations. If the crossover rate, link mutation rate, and new node rate are all 0, then the innovation numbers can be whatever v

[2016-08-24 18:59] schrum2 opened #249 "MultipleImageMatchTask"
Make a new task like the image match task, but different in the following ways.

1) Instead of trying to match one image, the EA tries to match multiple images. The easiest way to do this is to have a command line parameter that specifies a directory, and then every image stored in that directory will be a match target of the EA.
2) The image created by each CPPN is compared against each image in

[2016-08-24 19:02] schrum2 commented on #249
Followup. Before doing this difficult task, there is actually an easier variant that I think you could possibly accomplish entirely on your own: Instead of having the complex niching scheme, simply use multiple objectives. In other words, the CPPNs are trying to match multiple images, but there is a separate objective for each image. I'm not certain, but it might be possible to implement this by s

[2016-08-25 21:45] schrum2 commented on #241
This is an issues that you should try to address reasonably soon. After implementing it, you should also check to make sure it doesn't break any existing JUnit tests. In case you don't already have them, you should definitely have some tests that check for specific expected sensor values given a torus world state.

[2016-08-25 21:48] schrum2 opened #250 "Sense only some of the prey"
Something we might do soon is an experiment in which there are many prey (say 10) but the predator is only able to sense the nearest 2 or 3. This restriction will keep the number of sensors possessed by the predators reasonable. There would need to be a boolean command line parameter that specifies whether the sensors should be restricted in this way, and then an int parameter that specifies the n

[2016-08-25 21:53] schrum2 commented on #216
Running some experiments using multimodal extensions is also something we should pursue soon, after the sensor issues are fixed.

[2016-08-28 23:41] leg2015 commented on #246
Added some methods to the TWEANN class to support the visualization for the weights. Made some headway but need some clarification on whether to start with the input or output nodes for first layer. Also will need some help traversing down the links and scaling the window correctly.

[2016-08-29 00:47] schrum2 commented on #246
There should be one visualization window for each set of links entering a layer. Essentially, you can go through the list of substrate From-To pairs and create a window for each To-layer. Divide that window to have one rectangle per neuron in the layer, and then each of those sub-rectangles is divided to contain one colored dot (perhaps 3 by 3 pixels? define a final constant) per incoming synaptic

[2016-09-01 17:03] Rollinsa opened #251 "Remake the code in the TorusPredPrey Proximity Sensor classes"
Remake the code in the TorusPredPrey Proximity Sensor classes so that it is more understandable. Use the anonymous class by:
Pair<Double,Double>[] pairs    <---- this is the x offset, y offset
Arrays.sort(pairs, new Comparator<Pair(Double,Double)>(){
    public int compare(Pair<> object1, Pair<> object2){
return (int) Math.signum(Math.abs(object1.t1) + Math.abs(object1.t2)) - (same thing for objec

[2016-09-01 17:04] Rollinsa commented on #251
Also check if experiments for larger pops are done, if they are start the rest

[2016-09-06 18:31] Rollinsa commented on #241
Made it where pred/prey agents in the Torus Grid World do not sense themselves.

This actually ended up requiring a lot of changes. I also changed the JUnit tests to
accomodate the changes and tested everything (also with a trial of monitorInputs and
watch set to true) and everything seemed to work great, although all that was tested
was the preds with proximity pred sensors, and there are no JUni

[2016-09-06 18:31] #241 closed, assigned to Rollinsa

[2016-09-08 04:21] Rollinsa commented on #250
Allowed pred/prey agents to sense only a specified number of agents. Made it where you can also say which agents can sense how many of which agents.

[2016-09-15 15:49] schrum2 opened #252 "Create Connection Cost "Metaheuristic" Objectives"
In the package edu.utexas.cs.nn.evolution.metaheuristics, create two new meta objectives. One that penalizes every connection in a TWEANN, and another that penalizes connections in a network generated by a HyperNEAT CPPN. This second approach should take into account the positions of the neurons being connected, so that longer connections have a higher cost. Specifically, the overall cost is the s

[2016-09-15 16:36] schrum2 opened #253 "have an option to turn off hyper volume calculation in post processing"
This should save time. Make it the default to not calculate hypervolume.

[2016-09-15 16:59] schrum2 commented on #252
Actually, the LinkPenalty metaheuristic already takes care of penalizing the number of connections.

However, we still need another class, LinkLengthPenalty, that penalizes the lengths of connections as well. This particular class will only work with HyperNEAT, because it requires the neurons to be geometrically embedded in the substrate (you can't calculate the length of a link unless the neurons

[2016-09-15 17:00] Rollinsa commented on #253
Added the parameter that does this.

[2016-09-15 17:00] #253 closed, assigned to Rollinsa

[2016-09-16 18:44] Rollinsa commented on #250
The limiting sensors seems to not be working. At least the new batch file ("manyAgentsSenseTwo") does not work. The new batch file for an experiment with teammate sensors off also does not work. So I need to figure out why these two experiments do not work (the other 4 in the setup added in my last comment as a folder of batch files labeled 9/16 do work though), and fix them then restart the exper

[2016-09-22 22:51] Rollinsa commented on #250
861d966149fb6543c9e89a748e7902a95ca135b8

[2016-09-22 22:51] #250 closed, assigned to Rollinsa

[2016-09-28 04:40] schrum2 commented on #246
I think I've resolved this with the latest commit. We'll do some more testing and then close this issue if everything seems to work

[2016-09-28 18:17] schrum2 commented on #246
Add spacing around each neuron group with width of 1 pixel. This is low priority however.

[2016-09-28 19:09] schrum2 commented on #247
Make sure that the CPPN expresses every link in the substrate network. This can be done by manually setting the parameter for link expression to a negative value (I think).

[2016-10-03 21:17] schrum2 commented on #247
After making sure that this works, go back and make sure that the HyperNEAT seed is NOT used if a stopped experiment is resumed (check if generation is 0)

[2016-10-05 18:50] schrum2 commented on #247
Completed by commit ca46e78fb5f368a44038639a184cf89f8ad4f95b

[2016-10-05 18:50] #247 closed, assigned to leg2015

[2016-10-08 02:12] schrum2 opened #254 "Reduce Memory Footprint of Large Networks Generated by CPPNs"
We're trying to evolve large directly encoded networks in order to compare them with HyperNEAT networks. However, because directly encoded networks are larger than substrate networks generated by CPPNs, and because the whole population has to be kept in memory, these runs are resulting in OutOfMemory errors. We need to find a way of reducing the memory footprint.

We could bring back the Substrate

[2016-10-12 18:09] schrum2 opened #255 "Presence of Bias Input in Tetris Tasks"
Have a way of turning the bias input one and off for all variants of Tetris, whether with HyperNEAT or not. This setting should be on by default, but we will turn it off in HyperNEAT runs. However, the Tetris substrate description still needs to define a substrate with a single neuron (the bias) that feeds into the first processing layer, since this will be used with the HyperNEAT Seed Task.

[2016-10-12 18:25] schrum2 opened #256 "Randomize weights of seed networks"
In the PopulationUtil class, in the initialPopulation method:

When seedExample is true, after copying the seed but before adding it to the list of parents, have an option (command line) that goes through the structure of the seed and completely randomizes the weights. Note that this method is so general that it operates on Genotypes ... this special option will require you to cast the genotypes t

[2016-10-12 18:26] schrum2 commented on #255
In HyperNEATTetrisTask:
If the bias input is included, then getSubstrateInformation() needs a 1 by 1 input substrate for it, and getSubstrateConnectivity() needs to connect it to the first processing layer

[2016-10-12 18:29] leg2015 commented on #255
Substrates still needed but may not have to mess with the state extractor

[2016-10-12 18:35] schrum2 commented on #255
BertsekasTsitsiklisTetrisExtractor:
Problem: It ALWAYS includes the bias.
New plan: don't have a command line parameter for the presence of the bias input ... just use CommonConstants.hyperNEAT. If CommonConstants.hyperNEAT is true, then there is no bias, otherwise there is.

Methods to change:
numFeatures()
extract(Observation o) // look at the end
featureLabels() // look at end
scaleInputs(doubl

[2016-10-12 18:35] schrum2 commented on #254
Closed!

[2016-10-12 18:35] #254 closed, assigned to nobody

[2016-10-12 18:50] leg2015 opened #257 "Allow for hyperNEAT-seeded plain TWEANNs to have substrate visualization and weight visualization work"
Have visualization code also account for hyperNEATSeedTask as well.

[2016-10-12 18:58] schrum2 opened #258 "Implement HybrID"
We should be able to implement HybrID, which starts with HyperNEAT and then switches to a directly encoded representation. For now, just look through the code and put TODO comments in places that you think will need to change to make this work. Reference this paper: https://msu.edu/~pennock5/research/papers/ECAL10_HybrID.pdf

[2016-10-27 04:31] leg2015 commented on #255
I changed all the necessary code int HyperNEATTetrisTask and both feature extractors to match specs. I believe that does it for this issue, but I won't close it just in case it needs one more looking over

[2016-10-27 04:41] leg2015 commented on #256
added boolean parameter and set up necessary code in MMNEAT to support it. I am confused about which method is general enough to work on genotypes. Am I supposed to create a randomizeWeights method that's generalized or is there one that exists that I need to modify to have a special option for TWEANNGenotypes?

[2016-10-27 04:43] leg2015 commented on #255
I also saw in my notes I took a few weeks ago that the raw feature extractor also needed the bias checks, but it looks like it already contains the necessary code, so both extractor types should be covered now.

[2016-10-27 04:58] schrum2 commented on #256
We will assume that if the special parameter is used, then the user knows that some form of TWEANNGenotype is being used. This will allow you to cast the Genotype to a TWEANNGenotype and randomize the weights.

[2016-10-27 15:42] schrum2 commented on #255
We should do more testing first, but we can do that at our meeting.

On Wed, Oct 26, 2016 at 11:43 PM, leg2015 notifications@github.com wrote:

##

Jacob Schrum, Ph.D.
Assistant Professor of Computer Science
Department of Mathematics and Computer Science
Southwestern University
1001 E. University Ave.
Georgetown, TX 78626

Office: Mood-Bridwell Hall 141
Mail: SU Box 7341
Off-Campus Phone: (512) 86

[2016-10-27 21:32] leg2015 commented on #256
added a weightRandomizationReplace mutation into the mutation.tweann package. I was not able to find the randomized link creation in the random tweann constructor, but have a rough method outlined.

[2016-10-27 22:14] schrum2 commented on #172
Probably make the BD use a check box rather than a command line parameter

[2016-11-02 03:30] leg2015 commented on #255
I ran test experiments for the bias, the hyper neat one has 400 inputs, and the moRaw has 200, however, there are issues with the hntSeededTask one. The moRawHNTSeedTest has 200 inputs and the moRawHNTSeedTaskSplitInputs has 400 inputs, so the bias input is missing. The bias println is saying the bias is being added, but it's not. I will do some more testing but may need to look into it tomorrow d

[2016-11-02 03:39] leg2015 commented on #255
The number of features from feature extractors is working. It seems to be an issue when the networks are created that the task is being interpreted as a hyperNEATTask somehow?

[2016-11-02 03:48] leg2015 commented on #256
Checked the genotype files of a few networks with randomizeWeights on and the links are indeed a different weight so the weight randomization is working as hoped. I will close this issue for now.

[2016-11-02 03:48] #256 closed, assigned to leg2015

[2016-11-02 04:01] leg2015 commented on #255
I think I may have found the issue. I looked and saw that the getSubstrateGenotype that the seed is gotten from uses a hnt to get the subtrate connectivity. I tried implementing a boolean parameter for hntseededTask to get around it  but it seems to not have worked. Definitely will need to troubleshoot it tomorrow.

[2016-11-02 18:30] schrum2 opened #259 "Fix network viewing size in Picbreeder"
The network view mode in Picbreeder draws the networks slightly too large, so that the input neurons are cut off from view. Make the images slightly smaller to fix this.

[2016-11-02 18:32] schrum2 opened #260 "Change ftype from Picbreeder interface"
ftype (for function type) determines the default activation function used to create new networks. Although this can be set from the command line, it would be useful if the Picbreeder interface allowed us to change this ... though it would only be useful when pressing the reset button. The idea is that the user could select a different ftype before clicking reset (or maybe clicking reset pops up a

[2016-11-02 18:35] schrum2 opened #261 "Option to turn off each Picbreeder input"
In the Picbreeder interface, have check boxes for turning off each possible CPPN input. Turning the input off would mean that the input value is always 0, rather than whatever it would otherwise be. This should be applied the x, y, radius, and bias inputs.

The interface is starting to get cluttered ... you may want to make the space taken up by the images overall slightly smaller to accommodate m

[2016-11-02 18:54] leg2015 commented on #255
Checked all networks and they work!! Closing this issue for now

[2016-11-02 18:54] #255 closed, assigned to leg2015

[2016-11-05 20:55] #246 closed, assigned to leg2015

[2016-11-09 19:14] schrum2 commented on #260
When reset is pressed, randomize the activation functions of all neurons of all networks in the new population by getting random activation function choices based on those that are checked as available in the Picbreeder interface. If only one option is checked, then that only option will be "randomly" picked repeatedly.

Implement this as a separate mutation operator that randomly changes all acti

[2016-11-09 19:39] leg2015 commented on #260
Added a new TWEANNMutation function that mutates the ftypes of the nodes to whatever functions checked currently. Works like a charm now.

[2016-11-09 19:39] #260 closed, assigned to leg2015

[2016-11-13 22:13] schrum2 opened #262 "Add Rectified Linear Units as a type of activation function"
Specifically, add:
1) Rectified Linear Units
2) softplus
3) Leaky ReLU (using threshold of 0.01)

All of these are defined here: https://en.wikipedia.org/wiki/Rectifier_(neural_networks)

[2016-11-17 18:52] leg2015 commented on #262
I have added the new functions to the activation functions class. Just need to hook them into the picbreeder task now

[2016-11-17 22:39] schrum2 opened #263 "Randomize initial network activation functions"
This feature generally applies to HyperNEAT, but can be used in a broader sense as well.

Whenever netChangeActivationRate is greater than 0 at the start of evolution, then the initial population should have all networks be subjected to the mutation that randomizes all activation functions in the network.

[2016-11-23 05:52] schrum2 opened #264 "Make Tetris Move Evaluator Exclude Actions Leading to Game Over"
The paper Building Controllers for Tetris by Christophe Thiery, Bruno Scherrer mentions the following:

"A first subtle detail (which is never explicitly mentioned in the publications we have seen so far) is how an evaluation-based controller acts when it is close to game over. It might be that the decision that has the highest evaluation leads to game over while other decisions (with lower evalua

[2016-11-25 04:24] schrum2 commented on #232
This feature is actually important now. It is essential that we implement it in order to analyze how your 2M results use their modules.

You should be able to turn the setting on/off with a command line parameter. The paths should only apply to evolved agents, and not the static prey. For agents controlled by a network, the TWEANN has a method that returns the module number that was used most rece

[2016-12-06 03:23] schrum2 commented on #262
When you added these, did you forget to add entries to Parameters.java? I just tried messing with the code, and it is complaining about these parameters not being present. I just wanted to make sure you didn't have a pending commit that solved this. Since it should be a small/quick fix, please address soon so I can fiddle with some other issues.

[2016-12-06 17:13] leg2015 commented on #262
Sorry, I totally forgot to commit the changes I made from before Thanksgiving. It all should work now but I'll run a few tests to make sure before closing the issue

[2016-12-06 17:35] leg2015 commented on #262
I added JUnit testing for the activation functions and they're working just fine. Also forgot to make the activation function methods public so changed that as well. Should work as normal now.

[2016-12-06 17:35] #262 closed, assigned to leg2015

[2016-12-24 19:19] schrum2 commented on #264
Apparently, we were already excluding loss states by default. I don't think it's worth the trouble or makes sense to add an option to include them, so I just removed all code and went back to what we had before. This issue is now closed, without any actual changes being made.

[2016-12-24 19:19] #264 closed, assigned to schrum2

[2016-12-24 20:08] schrum2 commented on #263
Have completed and closed this issue

[2016-12-24 20:08] #263 closed, assigned to leg2015

[2016-12-24 20:57] schrum2 commented on #251
I went ahead and resolved this issue. The associated JUnit test still passes. However, I would appreciate it if you could do some extra verification by running the code ... maybe adding some more JUnit tests would be a good idea. For example, I don't think there are JUnit tests that check that "predsSenseAllPreds", "numberPredsSensedByPreds", "preySenseAllPreds" and "numberPredsSensedByPrey" work

[2016-12-26 18:17] Rollinsa commented on #232
Implemented the parameter "viewModePreference" so that the scent paths will only happen when that parameter is on. Seems to work fine still. Now need to make it based off the modules rather than agent type, and need to implement it for the prey eventually

[2017-01-10 22:37] Rollinsa commented on #232
This is mostly fixed, but there is a bit more to do eventually (but should work completely for the current experiments). The code still needs to be implemented for the prey to work with viewing the mode preference (it was only implemented to work for when predators are being evolved), and the code also needs to be generalized to look at all of the predators' module usage and number of modules rath

[2017-02-01 03:21] schrum2 opened #265 "HyperNEAT bias calculation has redundancies"
The CPPNs do not need to have a bias output for every possible layer pairing. They only need one bias output for each layer. This currently leads to many unnecessary output neurons in CPPNs.

In fact, it may be even worse than this ... is biasIndex in HyperNEATCPPNGenotype always 0? Is the first output neuron always used to define bias values?

[2017-02-01 03:30] schrum2 commented on #243
This was fixed a while ago

[2017-02-01 03:30] #243 closed, assigned to nobody

[2017-02-01 03:36] schrum2 opened #266 "1D Tetris Substrates"
When Tetris is played using HyperNEAT and hand-designed features, 1D substrates are used. As a result, the Y coordinate inputs are completely unnecessary. This is a small redundancy that should be removed.

[2017-02-06 05:11] schrum2 commented on #265
Further clarification: The CPPN only needs one output neuron per non-input substrate layer ... so one for each hidden/processing layer and output layer.

[2017-02-21 05:12] leg2015 opened #267 "Small error in package declarations of populationUtil"
The import of edu.utexas.cs.nn.evolution.mutation.tweann.ActivationFunctionRandomReplacement claims that it can't resolve the package. Not sure why it's not resolving because said package still exists and not sure how to fix it

[2017-02-21 05:46] schrum2 commented on #267
This is probably an issue with your GitHub sync or, more likely, with Eclipse. Sometimes you have to make Eclipse refresh its code to reflect what is actually stored on the disk. I'm not seeing any problems in my version of the code.

[2017-02-21 05:46] #267 closed, assigned to nobody

[2017-04-12 18:17] schrum2 commented on #259
Did you fix this? Did you commit the fix? You said something about this at the Creative Works Symposium

[2017-04-12 18:19] schrum2 commented on #232
Can this issue be closed? Does any code still need to be committed?

[2017-04-13 15:55] leg2015 commented on #259
I have on my machine but I haven't committed this code yet because I also added a bunch of stuff to make picbreeder work on my mac that isn't necessary to commit. Once I separate the changes for mac from the changes to fix the network viewer, I'll commit it

[2017-04-13 17:44] schrum2 commented on #259
If the Mac changes don't hurt the windows version, then may be we should
keep them?

Maybe you could even have different code depending on the OS:
http://stackoverflow.com/questions/228477/how-do-i-programmatically-determine-operating-system-in-java

On Thu, Apr 13, 2017 at 10:55 AM, leg2015 <notifications@github.com> wrote:

--
Jacob Schrum, Ph.D.
Assistant Professor of Computer Science
Departmen

[2017-04-13 18:01] #232 closed, assigned to Rollinsa

[2017-04-21 21:50] schrum2 commented on #259
It should be ok to go ahead and commit these changes. Maybe don't worry about the OS-specific side for now.

[2017-04-22 01:10] schrum2 commented on #259
It looks fine on Windows, so I'm going to close this issue. The button icons are slightly crowded, but the images and checkboxes are visible, which is really important.

[2017-04-22 01:10] #259 closed, assigned to leg2015

[2017-04-22 01:30] schrum2 opened #268 "Comments for MultiplePopulationGenerationalEA"
Find the MultiplePopulationGenerationalEA class. Add Javadoc comments for each method, including @param and @return tags.

For the initialPopulations method, add a header Javadoc comment saying:
Initializes a sub-population of genotypes corresponding to each example genotype in the provided array list.

For getNextGeneration:
Given a list of all sub-populations, derive the next generation consisti

[2017-04-22 01:41] schrum2 opened #269 "Comment LimitedSinglePopulationGenerationalEAExperiment"
Find the LimitedSinglePopulationGenerationalEAExperiment and add appropriate Javadoc style header comments to each method, including @param and @return tags

For the LimitedSinglePopulationGenerationalEAExperiment() constructor, say:
Creates a default instance based on parameters loaded from the commandline

For the other LimitedSinglePopulationGenerationalEAExperiment constructor:
Creates experim

[2017-04-22 01:59] schrum2 opened #270 "Comment RealBehaviorVector"
Find the RealBehaviorVector class and provide full Javadoc header comments for each method, including @param and @return tags

First, remove the part at the top that starts: "To change this template ..."

The class comment should say:
Characterization of agent behavior consisting of a fixed-length number of real (double) values. For use with the Behavioral Diversity approach.

The RealBehaviorVect

[2017-04-25 21:01] schrum2 commented on #268
This looks finished to me. You were right to close it the first time.

[2017-04-25 21:01] #268 closed, assigned to alicequint

[2017-04-26 21:09] DarwinJohnson commented on #270
Appropriate comments have been added to the RealBehaviorVector class, as assigned.

[2017-04-26 21:09] #270 closed, assigned to DarwinJohnson

[2017-04-28 20:34] twerisa commented on #269
Took care of issue; commented all method headers.

[2017-04-28 20:34] #269 closed, assigned to twerisa

[2017-05-02 05:20] schrum2 opened #271 "SoundUtil"
Create a new class called SoundUtil inside of the package edu.utexas.cs.nn.util. This class will be full of public static methods that can do various tasks related to sound processing. We know that we want to eventually evolve sounds/music in some manner, but first you need to learn what is possible using sounds in Java. Since we aren't fully certain what we need yet, go ahead and explore a variet

[2017-05-02 05:30] schrum2 opened #272 "Comment and JUnit tests for BooleanUtil"
Find the class BooleanUtil. It needs a comment at the top describing its general contents. Also, you should create a JUnit test file that thoroughly tests its two methods. Comment the tests to explain the rational behind them as well.

[2017-05-02 05:34] schrum2 opened #273 "Better comments and tests for CartesianGeometricUtilities"
CartesianGeometricUtilities is mostly well-commented, but there are some methods that are lacking either header and/or body comments. Provide these. Additionally, although CartesianGeometricUtilitiesTest exists, it does not test all methods of CartesianGeometricUtilities, and the tests it does provide could be made more thorough. Provide more/better tests, and explain them (as well as the existing

[2017-05-02 05:38] schrum2 opened #274 "Comment and test ClassCreation"
Find the class called ClassCreation. This file contains helpful methods that can create an instance of a class based on a String containing its package and name (among other things). These methods need useful comments, and you also need to create a JUnit test file to test all of these methods. You may need to get creative any order to think of proper test cases for this.

[2017-05-02 05:46] schrum2 opened #275 "ArrayUtil comments"
Make sure that all methods in ArrayUtil have proper, helpful header comments, including descriptions of all parameters using @param tags

[2017-05-02 05:52] schrum2 opened #276 "Comments for StatisticsUtilities"
Many of the methods in this file need header comments with proper param and return tags. Some should also have more body comments as well. Thoroughly comment this code.

[2017-05-02 05:56] schrum2 opened #277 "Comments and JUnit tests for Box2D"
The Box2D class represents a rectangle. The main point of it is to help determine whether a particular location is inside of the box.

This class needs to be commented (proper header comments especially with param and return tags specified), and it also needs to have an associated JUnit test file created.

[2017-05-02 05:58] schrum2 opened #278 "Comments and tests for Distance2DComparator"
Distance2DComparator is a comparator that can be used to sort locations with respect to how far they are from some particular reference point. This class needs to be commented, and a JUnit test file needs to be created to test it thoroughly.

[2017-05-02 15:37] schrum2 commented on #261
I'm reassigning this to Darwin. Lauren already made the buttons at the top smaller, so that is finished (though their display could maybe be improved ... some compromise between Mac and Windows was required, since each one displays things differently).

However, the main issue here is still that, in order to fully explore the range of images that can be created, there should be a way of turning of

[2017-05-02 15:48] schrum2 commented on #251
I'm transferring this to Alice.

The terms in quotes, "predsSenseAllPreds", "numberPredsSensedByPreds", "preySenseAllPreds" and "numberPredsSensedByPrey", are all examples of Parameters defined in Parameters.java.

The class TorusPredatorsByProximitySensorBlock behaves differently depending on how these parameter values are set.

TorusPredatorsByProximitySensorBlockTest is an existing JUnit test f

[2017-05-02 16:06] schrum2 opened #279 "Add square and triangle wave activation functions"
The class ActivationFunctions defines numerous activation functions that can be used in neural networks. The standard NEAT networks mainly use FTYPE_TANH, but CPPNs use different activation functions in each neuron to generate interesting patterns. This is the key to the cool pictures created by Picbreeder, but is also important for HyperNEAT, and will be important in the music/sound evolution sys

[2017-05-02 16:12] schrum2 opened #280 "Fix ExtendedBertsekasTsitsiklisTetrisExtractorTests: number_of_holes"
The ExtendedBertsekasTsitsiklisTetrisExtractorTests is a feature extractor for Tetris. This means that it looks at a Tetris game state and reduces it to an array of numerical values. This JUnit test is supposed to verify correct functioning of the extractor. I'm pretty sure that the extractor works, but that the test is broken (though wouldn't it be interesting to find otherwise!). Fix the test, a

[2017-05-02 16:18] schrum2 commented on #248
Specifically, this is a mutation operation that deletes an individual link in a NEAT network (TWEANN). This mutation operator generally isn't used, but could arguably be useful in some cases. I think the mutation operation works, but that the test fails because, like all mutation operations, there is some randomness involved.

You will need to "catch" the error by running the test multiple times u

[2017-05-02 16:32] schrum2 commented on #120
Breve2DGame still needs extensive comments, as does Breve2DGameView

[2017-05-02 16:37] schrum2 commented on #120
I've split this up between Darwin and Isabel. You can either work on it together, or leave it to whoever gets to it first (other issues are generally higher priority)

[2017-05-04 00:23] schrum2 opened #281 "private member variables for Substrate class"
The member variables of the Substrate class are public, even though there exist public getter methods for most (all?) of them. This is bad design, and unnecessary. Change these variables to private, and update all code accessing these variables to instead access the data via public getter methods (add if needed).

Note that setter methods should not be necessary, since most of these variables are

[2017-05-04 00:26] schrum2 commented on #281
By the way, make sure that any JUnit tests that deal with the classes you modify still pass after your changes.

[2017-05-04 00:42] schrum2 opened #282 "action_sequence test fails?"
For some reason, the action_sequence test in TetrisAfterStateAgentTests is failing. Try to determine if the problem is with the test (hopefully) or the Tetris code itself. There is a chance this error is related to #280 so talk to Darwin as needed (maybe you could work on fixing these two tests together, which would give each of you a chance to learn how the Tetris code works).

You will need to t

[2017-05-05 20:17] schrum2 commented on #266
I've addressed this issue for the hand-designed features, but I've also realized that certain substrate mappings for the 2D input space also need fewer CPPN inputs. Leave this open until those cases are addressed as well.

[2017-05-05 20:50] schrum2 commented on #266
This issue has been completed via this update: 407b37c565814573147b8df12ed35c206add7332

[2017-05-06 04:44] schrum2 commented on #266
Found spot where input filtering wasn't happening, but not it is fixed (?) so I'm closing this again.

[2017-05-06 04:44] #266 closed, assigned to schrum2

[2017-05-07 04:49] schrum2 opened #283 "HyperNEATCPPNGenotypeTest improvements"
I'm a bit skeptical that all of the tests in HyperNEATCPPNGenotypeTest make sense, and I know for certain that it does not thoroughly test some new changes to the HyperNEATCPPNGenotype class. First, there need to be tests assuring that CPPNs have the correct numbers of input and output neurons under various configurations of parameters settings (substrateMapping, evolveHyperNEATBias, leo, differen

[2017-05-07 04:49] #265 closed, assigned to schrum2

[2017-05-07 04:53] schrum2 opened #284 "HyperNEATUtil comments and tests"
The HyperNEATUtil class also needs some more comments and improved testing.

[2017-05-07 19:16] schrum2 commented on #204
This is one of several domains that have been written in a fashion to work via RL Glue, a framework that my code supports. Other existing RL Glue domains include CartPole, Tetris, and MountainCar. Look at how those domains are integrated with the code, and then import the Acrobot code into MM-NEAT in a similar fashion. Maintain consistent package organization, meaning that these classes will go in

[2017-05-08 02:52] schrum2 commented on #283
This is a pretty challenging task because you need to understand what HyperNEAT is before you can start on it. You will need to read some papers first. Start by going to the HyperNEAT users page:
http://eplex.cs.ucf.edu/hyperNEATpage/
Scroll down to the "HyperNEAT Publications from EPlex" and read
(2) A Hypercube-Based Encoding for Evolving Large-Scale Neural Networks
I also recommend reading the

[2017-05-08 02:53] schrum2 commented on #284
This is a pretty challenging task because you need to understand what HyperNEAT is before you can start on it. You will need to read some papers first. Start by going to the HyperNEAT users page:
http://eplex.cs.ucf.edu/hyperNEATpage/
Scroll down to the "HyperNEAT Publications from EPlex" and read
(2) A Hypercube-Based Encoding for Evolving Large-Scale Neural Networks
I also recommend reading the

[2017-05-10 16:11] alicequint commented on #275
8d1621280c07cbd836c8f49f8957c1788e6ee253

i forgot to add a description when committing but here it is!:
added comments to all methods, tags for all parameters and return values

[2017-05-10 16:11] #275 closed, assigned to alicequint

[2017-05-10 16:30] schrum2 commented on #242
I think the visualizer for the most activated neuron works, but that all output neurons are saturated. Every single neuron has an output value of 1.0, which makes some sense given the number of inputs into these output neurons. However, these are only agents in the first generation. It's possible they would become more refined with time to evolve, but I'm not sure how there is even a gradient to f

[2017-05-10 18:14] schrum2 opened #285 "Integrate Starcraft"
The page for the Starcraft AI competition is here:
https://cilab.sejong.ac.kr/sc_competition/
It would be nice to integrate support for this into MM-NEAT, but it will clearly be a difficult task involving many steps. You may want to do the initial steps on your own machine first, and separate from this code base. In other words, get a simple standalone project to work first before trying to integr

[2017-05-10 18:38] twerisa commented on #273
This issue has been addressed: comments were added to utility methods, and additional tests/comments were provided in the JUnit tests to account for methods that were not tested and special cases.

[2017-05-10 18:38] #273 closed, assigned to twerisa

[2017-05-10 18:39] schrum2 opened #286 "Integrate microRTS"
This is a simplified real-time strategy game: https://sites.google.com/site/micrortsaicompetition/home

This should be much easier to work with than Starcraft (#285), so maybe consider doing this first/instead.

[2017-05-10 18:40] schrum2 commented on #285
Note: Might be easier to do #286 first

[2017-05-10 18:47] schrum2 opened #287 "Integrate General Video Game AI Competition code"
The website is here: http://www.gvgai.net/

We would be interested in the learning track.

The actual code is here: http://www.gvgai.net/software.php

[2017-05-10 19:11] #281 closed, assigned to twerisa

[2017-05-10 19:24] DarwinJohnson commented on #276
All Method Header Comments have been completed, and body comments were added where necessary.

[2017-05-10 19:24] #276 closed, assigned to DarwinJohnson

[2017-05-10 19:40] schrum2 commented on #278
Deal with the value that is never used

[2017-05-10 20:05] DarwinJohnson commented on #277
Header and Body comments have been added where necessary, and a JUnit Test Case has been created and filled. Code appears to be working properly, but additional tests will be added to check edge cases.

[2017-05-10 20:32] #274 closed, assigned to alicequint

[2017-05-10 20:55] #278 closed, assigned to alicequint

[2017-05-10 21:50] schrum2 commented on #118
You'll need to make a class called MountainCarViewer in edu.utexas.cs.nn.tasks.rlglue.mountaincar. This class will be similar to PuddleWorldViewer, TetrisViewer, and CartPoleViewer. These classes all have constructors that create an instance of DrawingPanel.

I believe that each of these Viewer classes is based on a corresponding Visuzlizer class in an org.rlcommunity.environments.* package. Howev

[2017-05-11 15:05] schrum2 commented on #271
It looks like an external library might be the best way to go, but which one to use? Let's not commit to one yet, but here are several interesting options:
https://code.google.com/archive/p/mp3transform/downloads
http://www.javazoom.net/javalayer/sources.html (this one seems to be the most popular)
http://www.javazoom.net/jlgui/api.html

[2017-05-11 15:45] alicequint commented on #286
package 'ai.evaluation' contains an abstract class EvaluationFunction, as well as a few hard coded classes derived from it that determine how preferable a GameState is.
We can eventually put something like 'EvolveNeuralNetwork" here.

[2017-05-11 15:54] DarwinJohnson commented on #261
The option to turn off each effect within Picbreeder has been fully added; checkboxes are used to control if the effect appears or not.

[2017-05-11 15:54] #261 closed, assigned to leg2015, DarwinJohnson

[2017-05-11 16:12] schrum2 commented on #271
Went with the JLayer library. Hopefully this will serve our purposes

[2017-05-11 16:16] alicequint commented on #248
not only does it sometimes succeed and fail, but occasionally the test will yield no result.
no-result (gray bar) is the only case where the text printed to the console is different, ending with
"No links to choose from. All are frozen!"

[2017-05-11 16:58] #248 closed, assigned to alicequint

[2017-05-11 17:00] schrum2 opened #288 "Comment all code in MarioTask"
The task isn't too complicated, but could use better comments in some places.

It is also worth noting that despite being fully integrated into the code, we don't have really good results in Mario yet, so also be on the lookout for ways to improve behavior.

[2017-05-11 17:00] alicequint commented on #248
made it so that DeleteLinkMutation cannot 'delete' a link when there are none left

[2017-05-11 18:25] schrum2 commented on #282
This seems to work fine on Alice's machine, and also on my lab machine and my office machine. The only place it didn't work is my home machine, which really doesn't make sense. I need to take another look, and then either fix this or close it.

[2017-05-11 18:44] schrum2 opened #289 "deterministic evals in Mario"
Allow the "deterministic" parameter to be used in Mario. This will result in the same random being used in all evals (use the "randomSeed" parameter)

[2017-05-11 19:14] alicequint commented on #288
added comments when needed and removed unused variables, moving on to implementing deterministic level generation option

[2017-05-11 19:14] #288 closed, assigned to alicequint

[2017-05-11 19:15] alicequint commented on #280
probably actually unrelated to #282, which seems to have been a problem only on one machine

[2017-05-11 19:24] DarwinJohnson commented on #272
The Class Comment has been added, and the JUnit Test Cases have been created and run. Test comments have been included. The methods are working correctly.

[2017-05-11 19:24] #272 closed, assigned to DarwinJohnson

[2017-05-11 19:35] #289 closed, assigned to alicequint

[2017-05-11 20:11] DarwinJohnson commented on #277
Added more JUnit Test Cases to ensure the code was working properly. Everything appears to be functioning well.

[2017-05-11 20:11] #277 closed, assigned to DarwinJohnson

[2017-05-11 21:04] schrum2 commented on #271
Useful page for understanding the WAV file format: http://soundfile.sapp.org/doc/WaveFormat/

[2017-05-11 21:06] DarwinJohnson commented on #120
Added Header Comments to all methods in Breve2DGame. More body comments  could be useful, but the uses of each method is now clear.

[2017-05-11 22:09] #118 closed, assigned to DarwinJohnson

[2017-05-12 00:25] schrum2 commented on #271
I found this useful site:
http://ganeshtiwaridotcomdotnp.blogspot.com/2011/12/java-extract-amplitude-array-from.html
I think you can copy the code more-or-less directly into the SoundUtil class, but change all of the methods to static methods, and avoid the global instance variables. Some of the code be even be redundant (you may already have some code that accomplishes these steps) ... it takes a

[2017-05-12 00:33] schrum2 commented on #286
The next time you work on this issue, go ahead and copy all of the code from the microRTS project into the MM-NEAT project. Just copy all of the code over, and then do a commit and sync to get all of the files in our system. Then we'll talk about integrating the rts code with the MM-NEAT code

[2017-05-12 00:38] schrum2 commented on #204
Copy this code into the project as well, and then talk with me about how to integrate it.

[2017-05-12 00:40] schrum2 commented on #126
This is another RL Glue domain. Start by copying the code into MM-NEAT and then committing that. Afterward, we can talk about how to actually integrate the code.

Alice has a similar issue ( #204 ) so the two of you should share notes.

[2017-05-12 01:59] schrum2 opened #290 "Atari 2600 emulator"
Lately, there has been an explosion of interest in using Deep Reinforcement Learning to learn to play Atari 2600 games. I would like to get in on this trend by integrating this code into MM-NEAT. MM-NEAT is more focused on evolution, but there are opportunities to combine and compare it with Deep RL as well.

Annoyingly, the Arcade Learning Environment, which is a system for programming agents for

[2017-05-12 02:03] schrum2 commented on #287
I think that this code is designed to be pretty easy to get up and running. It is meant to be highly accessible Java code. Anyone who takes on this task should run the code first in its own project, and then try integrating it into MM-NEAT afterward.

[2017-05-12 02:07] schrum2 opened #291 "Comments for package edu.utexas.cs.nn.evolution.mutation.tweann"
Much of the code in this package already has adequate comments, but not all of it. Go through and add proper header comments to all methods, and comments to the method bodies when appropriate. When unsure about what certain code does, ask me about it. If I'm not around, then mention the code in the GitHub issue here.

[2017-05-12 02:10] schrum2 opened #292 "Comments and tests for edu.utexas.cs.nn.evolution.mutation.real"
This code doesn't get used much. It is for mutating arrays of double values (approximations of "real" numbers), rather than arrays. However, it still has its place, and the code could use both proper commenting and JUnit testing.

[2017-05-12 03:25] schrum2 opened #293 "VizDoom comments and test-drive, and maybe fix"
I was fiddling with the VizDoom code we developed last year, but it wasn't working properly. I'm hoping this is just some compatibility issue with Windows 10, but we'll find out when we run the code on the lab machines.

Regardless, the code in the edu.utexas.cs.nn.tasks.vizdoom package needs comments. Start with VizDoomTask, which is inherited by most of the other classes.

I also added a new bat

[2017-05-12 05:15] schrum2 commented on #108
This issue has lain dormant for a while, but as you can see, I have made a recent commit on it to get it started. This issue will teach you a bit about how the Ms. Pac-Man code works. I added the class AnyGhostEdibleModeSelectorTest.java which is a test case showing how to create a new Ms. Pac-Man game and manually advance it with specially chosen steps one at a time. There is still one method lef

[2017-05-12 14:27] schrum2 commented on #279
https://en.wikipedia.org/wiki/Sawtooth_wave

Triangle wave is defined as absolute value of sawtooth. We have a sawtooth, but not a full-ranged one, so you need to implement that too.

[2017-05-12 14:49] schrum2 opened #294 "Consider alternate sensor configurations for Mario"
It is possible that better performance in Mario would be easier to achieve with slightly better sensors. Here are some reference papers to look at to see how others have configured Mario's sensors. These may not all necessarily be good, but they are a collection of ideas.

Store these papers in our "Artifacts" google drive directory. Also, create a text file in that directory tracking notes about

[2017-05-12 14:53] schrum2 commented on #294
More links:
https://medium.com/@savas/craig-using-neural-networks-to-learn-mario-a76036b639ad
http://julian.togelius.com/Togelius2009Super.pdf
https://daim.idi.ntnu.no/masteroppgaver/009/9651/masteroppgave.pdf
http://sebastianrisi.com/wp-content/uploads/sorensen_cig16.pdf
http://sebastianrisi.com/wp-content/uploads/sorensen_gecco16.pdf

[2017-05-12 15:29] schrum2 commented on #293
The row-based input scheme seems to work fine. It seems that the problem that was caused with the other approach was an out of memory error, which makes sense given the size of the network, but I thought that it worked before. Maybe tweaking the parameters to deal with smaller networks will allow for some progress with the other approaches.

[2017-05-12 16:38] #279 closed, assigned to twerisa

[2017-05-12 19:10] #291 closed, assigned to twerisa

[2017-05-12 19:45] #120 closed, assigned to DarwinJohnson, twerisa

[2017-05-12 19:58] DarwinJohnson commented on #121
The breve2D.agent package has been fully commented.

[2017-05-12 19:58] #121 closed, assigned to DarwinJohnson, twerisa

[2017-05-13 01:06] schrum2 opened #295 "Organize Picbreeder interface"
The new Picbreeder features are great, but they really don't fit on the screen. The four checkboxes that turn input signals on and off should be moved up so that they are immediately to the right of the mutation slider bar. Hopefully, this will leave enough room for all parts of the interface.

[2017-05-13 01:21] schrum2 commented on #271
I believe that this code provides a means of creating sounds derived from an array of amplitude values:
http://introcs.cs.princeton.edu/java/stdlib/StdAudio.java.html

Pay particular attention to the
play(double sample)
and
play(double[] samples)
methods

[2017-05-13 01:29] schrum2 commented on #271
This webpage also looks useful:
http://archive.oreilly.com/oreillyschool/courses/data-structures-algorithms/soundFiles.html
However, it is a bit dense. Some of it looks like it already duplicates procedures we are already aware of, but I saw a mention of a Fast Fourier Transform, which is something I think we might need eventually. Save this site for later in case we need it.

[2017-05-13 01:35] schrum2 commented on #271
Another page that was too dense to look closely at, but that might be useful later:
https://0110.be/releases/TarsosDSP/TarsosDSP-1.7/TarsosDSP-1.7-Manual.pdf

Also, regarding the StdAudio.java file mentioned above. Rather than copy bits and pieces of that code, we may want to copy the whole file into our project ... it could be useful as a utility class of its own.

Move SoundUtil.java and the new

[2017-05-13 02:12] schrum2 commented on #293
Running the VizDoomDefendCenterTask class (right-click and run as a Java application) also works, and shows off how inputs are extracted. A narrow region of the visible area is focused on and shown as black/white activation values.

I also added another batch file that will let you visualize the input space in this commit: 747f60ef631bc1d1abc17a8050618acfdf5ff17e

While going through and commentin

[2017-05-13 02:15] schrum2 commented on #126
Now you need to add some code to the task so that whenever CommonConstants.watch is true, the Pinball evaluation will be shown in the GUI rather than happen in the background. Modify the oneEval method so that entirely different code is run if CommonConstants.watch is true. In fact, it would probably be best to separate the code out into visual and non-visual eval methods that get called from oneE

[2017-05-13 02:18] schrum2 commented on #126
Currently, the oneEval method loads a file called pinball_simple_single.cfg. Although the path (directories) leading to this file should always be the same, there is another file in this directory that users may also want to use. Therefore, the value "pinball_simple_single.cfg" should be stored in a String Parameter called pinballConfig specified in parameters. The default value will be "pinball_s

[2017-05-13 02:31] schrum2 commented on #204
To make Acrobot work as an MM-NEAT domain, you need to go to the Acrobot class and replace the extends EnvironmentBase at the top with extends RLGlueEnvironment, as done in other RLGlue tasks. Next, add the required methods. You will also need to define an AcrobotTask inside of a edu.utexas.cs.nn.tasks.rlglue.acrobot package.

[2017-05-13 02:33] schrum2 commented on #108
This issue is not done yet. I actually need you to provide JUnit tests for ALL ModeSelector classes in this package. AnyGhostEdibleModeSelectorTest was simply an example I was providing to get you started.

[2017-05-13 02:36] schrum2 commented on #286
Now you need to find out how to launch a given configuration without the visual display ... a feature that I certainly hope exists. I should be surprised if it did not.

[2017-05-13 02:46] schrum2 opened #296 "TetrisTask needs some more comments"
Most of the important methods have comments, but there are some missing header comments. It can be improved slightly.

[2017-05-13 02:49] schrum2 opened #297 "Implement HybrID extensions"
After implementing HybrID ( #258 ) we should implement all of the extensions to HybrID described in this paper: http://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0174635&type=printable

[2017-05-15 15:13] twerisa opened #298 "Visualizing Wave Forms"
Use DrawingPanel.java to take an array of sample values and draw it on an axis (essentially plot function).

[2017-05-15 15:19] twerisa commented on #298
Actually, already exists in Plot.java

[2017-05-15 15:19] #298 closed, assigned to twerisa

[2017-05-15 15:29] DarwinJohnson commented on #295
Moved the Effect CheckBoxes. Will change the Action Buttons at the top to have the full image shown.

[2017-05-15 16:00] DarwinJohnson commented on #295
The Action Buttons are now scaled with their proper images still showing. There is two Global Final Int Variables at the top of the Class used to change the Width and Height of the Action Buttons, if further change is desired.

[2017-05-15 16:00] #295 closed, assigned to DarwinJohnson

[2017-05-15 18:18] #296 closed, assigned to twerisa

[2017-05-15 19:36] DarwinJohnson commented on #126
I tried to run the PinballTask class after implementing the new PinballViewer, and the console states "Ball or target not loaded in data/pinball/pinball_simple_single.cfg" when trying to evaluate the Parents. I haven't edited this file, nor have I changed the filepath, filename, nor the Parameter referring to the config file. However, the PinballViewer appeared for a brief second the first time, s

[2017-05-15 20:09] DarwinJohnson commented on #280
The Parameter loading error at the SetUp() portion of the JUnit Test has been fixed. It appears that this was the reason why the number_of_holes test was failing. Now the test passes successfully.

[2017-05-15 20:09] #280 closed, assigned to DarwinJohnson

[2017-05-15 20:24] #204 closed, assigned to alicequint

[2017-05-15 21:23] DarwinJohnson commented on #126
The PinballViewer now functions properly, and the PinballTask runs as expected. The Pinball config files are no longer being overwritten, and the oneEval method appears to be working.

[2017-05-15 21:49] alicequint commented on #286
Micro.tests.RunConfigurableExpirements seems to be the file that we're looking for, although it seems rough or unfinished (there is some dead code)

[2017-05-15 21:55] schrum2 opened #299 "Sound from CPPN"
Although this is a new issue, the code for this can go inside of SoundUtil.

Basically, we want a static method that takes a Network parameter (which should generally be a CPPN) and generates an array of amplitude values, which are then played as a sound (this might actually be two distinct methods).

The CPPN will only have one output: the amplitude.  What is unclear is what the input(s) should b

[2017-05-16 01:36] schrum2 opened #300 "Refactor/organize graphics code"
Right-click the edu.utexas.cs.nn.graphics package and rename to edu.utexas.cs.nn.util.graphics.

Then, move the GraphicsUtil class into this package.

Commit the code after doing this.

Next, move all of the static methods from Plot into GraphicsUtil, but leave the static final constants. I'm not really sure where these belong yet, and need to make a decision, so basically there will be a file Plo

[2017-05-16 01:46] schrum2 opened #301 ""stepByStep" for Pinball"
Search the code to see how the "stepByStep" parameter is used, and then add support for this parameter to the Pinball domain when being visualized. I would like to see how a successful agent performs at a speed I can understand.

Once this is working, you can use the postAllBestObjectiveWatchStepByStep.bat file to see how a successfully evolved champion PInball agent performs (let me see too).

[2017-05-16 01:49] schrum2 commented on #126
The batch file Pinball-Basic-Simple.bat should just be called Pinball-Simple.bat, but you also need to make a Pinball-Hard.bat batch file that loads the other cfg file. See how well evolution performs in the harder maze too.

[2017-05-16 02:07] schrum2 commented on #286
Rather than try to use micro.tests.RunConfigurableExpirements, you should try copying the code from micro.tests.GameVisualSimulationTest to a new class.

Make a class
MicroRTSTask that extends NoisyLonerTask<T extends Network> extends NoisyLonerTask<T> implements NetworkTask, HyperNEATTask
This should go in a new package: edu.utexas.cs.nn.tasks.microrts

The oneEval method should basically run the

[2017-05-16 14:35] alicequint opened #302 "create maps folder for microRTS #286 inside MMNEAT"
create directory MMNEAT/data/maps/(all the things) instead of MMNEAT/maps

[2017-05-16 14:35] #300 closed, assigned to twerisa

[2017-05-16 14:36] alicequint commented on #302
#286

[2017-05-16 15:51] schrum2 opened #303 "Pinball fitness"
For the Pinball task, there should be a boolean Parameter called "moPinball" (for multiobjective pinball). If this parameter is set to true, then you should register an additional fitness function called "Distance From Goal" and compute this number to return from oneEval (one more element of the first array in the Pair you return). This value should be the negative distance from the goal location.

[2017-05-16 16:35] DarwinJohnson commented on #303
Created a moPinball boolean in the Parameters class and tried to implement the Multi-Objective evaluation based on MO Mario. Found a way to calculate the distance to the goal using the Pinball Point class, and used that as another Objective, labelled as "Distance." Commit 91b7dec referenced #126, but applies to this Issue as well.

[2017-05-16 16:47] DarwinJohnson commented on #301
postAllBestObjectiveWatchStepByStep.bat works well with both Pinball-Hard and Pinball-Simple. Discovered that the "solution" of doing nothing has developed. Will fix by creating a Multi-Objective version of Pinball Batch files. Otherwise, the stepByStep and postAllBestObjective functions work.

[2017-05-16 16:47] #301 closed, assigned to DarwinJohnson

[2017-05-16 18:20] alicequint opened #304 "Fitness Function for MicroRTS"
fitness function (different from evaluation function!
(make oneEval method better in class MicroRTSTask)
Gradient : way to go from bad to good

[2017-05-16 18:21] alicequint commented on #304
may have to track information from during the game

[2017-05-16 18:21] alicequint opened #305 "Design agent with Game Tree Search using NN"
in the same package as MicroRTSTask, give it an evaluation function to call for determining the fitness of organisms.

[2017-05-16 18:30] alicequint commented on #305
extend evaluation class thats already defined in micro,
using a pre-evolved agent

[2017-05-16 18:50] schrum2 opened #306 "Our own variant of breedesizer"
Now we have a way of generating sounds from a CPPN. Let's copy and improve upon breedesizer: http://bthj.is/breedesizer/ In doing so, let's try to understand the differences between what we have an what they have (why do we need such long dense waves vs the simple ones in breedesizer? What is the FFT actually doing?).

However, simply getting something cool to work is really what matters the most.

[2017-05-16 18:52] schrum2 commented on #271
Have a methods that do the following:

Take an amplitude array, and save it as a WAV file
Take an amplitude array, and save it as an MP3 file

(the next two methods can use the previous two)

Take a CPPN, generate an amplitude array, and save that as a WAV file
Take a CPPN, generate an amplitude array, and save that as an MP3 file

[2017-05-16 18:53] schrum2 commented on #305
Be sure to assign yourself to the microRTS issues you create

[2017-05-16 19:00] alicequint opened #307 "Make MicroRTSTask able to switch between Watch and no-watch modes?"
other classes have the ability to be run with Watch (global variable?) set to true,
i think this would be useful for testing the use of evaluation functions, because we could look at the individual steps that the individuals are taking.

[2017-05-16 19:01] alicequint commented on #307
#305

[2017-05-16 19:10] schrum2 opened #308 "Apply Behavioral Diversity to Pinball"
Behavioral Diversity is a way of searching the behavior space when fitness stagnates in a deceptive domain. I've used it before in this paper: https://suscholar.southwestern.edu/handle/11214/150

There is a more thorough and focused paper by the original inventor at this URL:
https://pdfs.semanticscholar.org/3d59/d453eaa1b59c4533f0deb01ea7b03c6edd29.pdf

Implementing it in my existing code is fair

[2017-05-16 19:14] schrum2 commented on #108
Since Alice has already made some progress on this task, it is exclusively hers now

[2017-05-16 19:15] schrum2 commented on #284
Do you think this issue is complete? Describe outstanding issues here if there are any, otherwise close the issue.

[2017-05-16 19:17] schrum2 commented on #126
I'm closing this issue. The domain clearly works, and all current problems with it are small, specific issues which are described elsewhere.

[2017-05-16 19:17] #126 closed, assigned to DarwinJohnson

[2017-05-16 19:18] schrum2 commented on #303
Is this done? Close it if it is

[2017-05-16 19:20] schrum2 commented on #283
Provide an update on this, describing actions taken or not taken, and why. Specifically, I know that there are some "tests" for which a formal automated testing procedure does not make sense. Describe them here.

[2017-05-16 19:24] DarwinJohnson commented on #303
The only thing left for MO Pinball is to apply Behavioral Diversity, as described by Issue #308. This issue is done.

[2017-05-16 19:24] #303 closed, assigned to DarwinJohnson

[2017-05-16 19:58] alicequint commented on #284
HyperNEATUtilTest (my half) has been finished, although its worth noting that several of the tests here are are for methods whose only function is displaying graphical information, and so the tests just call the method without the possibility of failure.

looking at HyperNEATUtil, @DarwinJohnson  's half, it seems thoroughly commented, so I'm closing this issue. _*confetti*_

[2017-05-16 19:58] #284 closed, assigned to DarwinJohnson

[2017-05-16 20:28] twerisa commented on #299
CPPN method is functional and has been moved over to SoundAmplitudeArrayManipulator.java

[2017-05-16 20:28] #299 closed, assigned to twerisa

[2017-05-16 21:29] DarwinJohnson commented on #308
The Pinball-MOBDHard Batch File runs perfectly, and running it shows that the Ball now travels all the way to the Target without getting stuck on the Obstacles. The Behavioral Diversity works perfectly.

[2017-05-16 21:29] #308 closed, assigned to DarwinJohnson

[2017-05-17 00:31] schrum2 commented on #306
By the way, when doing this, it will be important to generalize the code from Picbreeder. Rather than simply copy it, you will need to extract out the functionality common to both, so that Picbreeder and breedesizer are just slight variants of a general class.

Specifically, I think that you will need to make an InteractiveEvolutionTask, and have both PicbreederTask and your new BrredesizerTask ex

[2017-05-17 00:35] schrum2 commented on #302
Although you may have moved the folders into the appropriate directory, the files themselves do not seem to have committed to GitHub. New directories are generally not detected and added to the project unless they are in the src directory, so a special command in the GitHub shell is required to actually add the directory to the project. Get my help with.

[2017-05-17 01:14] schrum2 commented on #290
This issue probably requires a lot of looking around and considering possibilities before we actually put any code in the project. If anything, you might want to start with the deeplearning4j link and start working through some tutorials (might even want to use IntelliJ instead of Eclipse, as suggested).

This is a low priority issue though

[2017-05-17 01:17] schrum2 commented on #249
This issue has obviously languished for a while, but I think it would still be interesting to do. You will need to make sense of the ImageMatchTask first in order to understand how this new one would be different.

[2017-05-17 18:28] twerisa commented on #271
http://www.labbookpages.co.uk/audio/javaWavFiles.html useful link regarding writing wav files

[2017-05-17 19:05] #302 closed, assigned to alicequint

[2017-05-18 02:15] schrum2 commented on #132
There are some TODO comments indicating that states should be copied before being modified. In fact, this is so universal that a copy() method should be added to the BoardGameState interface, and implemented for all games.

[2017-05-18 02:22] schrum2 opened #309 "Minimax Search for Board Games"
Create a general MinimaxSearchPlayer that is a BoardGamePlayer, and can work on ANY instance of BoardGame that you create. It will therefore need to be implemented in a very general fashion.

It will require some notion of heuristic function in order to operate. Therefore, a class named BoardGameHeuristic will need to be created. An instance of this can be sent to the constructor for MinimaxSearch

[2017-05-18 02:39] schrum2 commented on #305
I think that an agent that uses minimax search for planning already exists in the collection of agents that come with the microRTS code. The trick to making it work is to define an EvaluationFunction using an NN, and simply use the existing minimax agent.

[2017-05-18 15:36] alicequint commented on #305
actually still need to do normalization!!!! NNEvaluationFunction is not quite there yet!

[2017-05-18 18:53] schrum2 opened #310 "Create save feature for Breedesizer"
Ned to figure out how to save the wave files you create so you can properly override the save method for breedesizer.

[2017-05-18 18:56] schrum2 opened #311 "Ability to disable/enable individual CPPN inputs for breedsizer"
Need checkboxes like the ones Darwin added to Picbreeder. Specifically, there should be checkboxes for turning the time, sine of time, and bias effects on and off.

In the process of writing this code, you may find that even more functionality that is now in both picbreeder and breedesizer can be pushed down into InteractiveEvolutionTask in a generalized fashion.

[2017-05-18 19:00] twerisa opened #312 "Create keyboard interface for breedesizer"
Create a keyboard interface that plays generated sounds from the breedesizer at different frequencies when different keys are clicked on.

[2017-05-18 19:02] twerisa commented on #306
Last part of this issue (creating a keyboard interface) has been moved over to a new issue (#312).

[2017-05-18 19:02] #306 closed, assigned to twerisa

[2017-05-18 20:21] #311 closed, assigned to twerisa

[2017-05-18 20:30] schrum2 opened #313 "One Step Evaluater for Board Games"
This is an easier task that #309 and should be attempted first. Define a general BoardGamePlayer that works as follows. Its constructor take something of type T where T extends Network is true. Whenever you want the player to make a move, it uses the method that gets all possible next states. Then, it gets the state description for each of those states (array of numbers) and treats those as inputs

[2017-05-18 20:33] schrum2 opened #314 "General random board game player"
Replace your RandomTicTacToe and RPS players with a single class called RandomBoardGamePlayer. The takeAction method of this class simply uses the BoardGameState to randomly select one of the next possible states.

Looking more closely at this, I now realize that the possibleBoardGameStates method in the BoardGame interface should actually be moved into the BoardGameState interface in order to acc

[2017-05-18 20:39] schrum2 commented on #307
Is this done? I feel like we were on the verge of finishing it

[2017-05-18 20:41] schrum2 commented on #305
I think that so far you have tested your evaluation function with some variant of a UCT agent (correct me if I'm wrong).

Please track all pre-packaged agents from the microRTS code that you have successfully tested your evaluation function with (try all that you can find).

[2017-05-18 20:42] alicequint commented on #307
yes! it is done

[2017-05-18 20:42] #307 closed, assigned to alicequint

[2017-05-18 21:20] schrum2 opened #315 "Fitness functions for board games"
A board game typically has a clear outcome: win or lose. Some games have scores, but a lot of the classics (Tic Tac Toe, Chess, etc.) do not. Therefore, how can you tell if you are getting better?

Some approaches come to mind. For example, if you are playing against a skilled scripted player, but could force it to make random moves some percentage of the time, and play multiple games against it.

[2017-05-18 22:01] alicequint commented on #305
When running the batch file , the first eval goes okay, but subsequent evaluations cause strange problems + dont really happen. something isnt being fully reset in MicroRTSTask

[2017-05-19 00:07] schrum2 commented on #305
I have a theory as to why the agent seems to take no actions. All agents in the game say something about having a computation budget. This means they have a limited time to make a decision, and return the best decision they could think of within the time limit. This means that they are storing their best action so far in some why. However, I think that in the MicroRTSTask we may have disabled the

[2017-05-19 00:41] schrum2 opened #316 "Sound remixing version of breedesizer"
I'm not sure if this should be a separate task or an option we can turn on/off for breedesizer. However, we should create a way of taking a sound file and remixing it. I can think of two ways of doing this, and both should be toyed with using randomly generated CPPNs to start.

One way is to have the amplitude value from a wave file be a CPPN input in addition to the bias, time, and sin(time).

An

[2017-05-19 00:50] schrum2 opened #317 "Select clip length in breedesizer."
In breedesizer, the length of the sound clip should be an int parameter present in Parameters.java.

However, in addition to this, the value of this parameter should be changeable from the GUI interface. At first I was thinking a slider bar would be good, but that would restrict us to some maximum size ... it's probably better to have a text field where you can enter any number, and that would cha

[2017-05-19 02:49] schrum2 opened #318 "Endless forms: 3D shapes"
It is also possible to evolve 3D shapes using CPPNs. It has been done before, and there is a web interface for it called Endless Forms: http://endlessforms.com/

If we wanted to implement this in our code, someone would have to learn a little bit about 3D rendering, but beyond that, all of the details are described in their associated paper:
http://jeffclune.com/publications/2011-CluneLipson-Evolv

[2017-05-19 02:49] schrum2 commented on #318
Also, I should mention that if we evolve 3D shapes, we could 3D print them!

[2017-05-19 04:28] schrum2 opened #319 "Evolved Animations?"
Evolving 2D images (picbreeder) and 3D shapes (endless forms) have been done. It's cool to recreate these systems, but they are still not original. Even our work evolving sounds, though different in the details, is based on pre-existing work.

However, I don't think anyone has evolved animations before, and I feel that it should be fairly easy to do. You just need to give a CPPN that produces imag

[2017-05-19 04:36] schrum2 opened #320 "A variety of evaluation functions"
Once you get a basic example of evolution working in the microRTS game, we can start thinking about a variety of different evaluation functions. Specifically, we should probably turn the existing NN eval class into an abstract base class that is extended by several variants, such as the ones I wrote on the white board:
1) One like what you already have, that just counts unit types.
2) One that has

[2017-05-19 04:38] schrum2 opened #321 "Implement HyperNEATTask methods for Micro RTS"
Once you have an evaluation function that takes the whole game screen/board as input, it will make sense to implement the HyperNEATTask methods of the MicroRTSTask, since this type of input space is exactly what HyperNEAT was designed for.

The substrate configurations should correspond to the types of input configurations used by your evaluation functions.

[2017-05-19 14:33] DarwinJohnson commented on #314
The current General Random BoardGamePlayer should function with any game, so long as the possibleBoardGameStates method works in each specific BoardGameState.

[2017-05-19 14:33] #314 closed, assigned to DarwinJohnson

[2017-05-19 16:17] DarwinJohnson opened #322 "BoardGameFeatureExtractor"
Create a BoardGameFeatureExctractor Interface in which T extend Network is true. This wil be used to extract the features from a BoardGameState.  This will provide several ways to represent the features.

[2017-05-19 19:41] twerisa commented on #312
1. Create array with all notes c3-c5.
2. Create keyboard layout in BreedesizerTask constructor (??)
3. Make sure that action performed when a button is clicked plugs frequency of key clicked into parameter of amplitudeGenerator.

[2017-05-19 19:59] alicequint commented on #320
1. done!
2. started but not finished,
3. not started

[2017-05-20 04:38] schrum2 commented on #132
I feel like this task is finished, so I'm closing it. From this point forward, the details of issues with board games should be handled by their own GitHub issues.

[2017-05-20 04:38] #132 closed, assigned to DarwinJohnson

[2017-05-20 04:39] schrum2 commented on #313
Is this done? I guess that once we are sure it works with at least one more game, we can safely close it.

[2017-05-20 04:55] schrum2 opened #323 "Coevolution in BoardGames"
There are two common approaches to co-evolving board game players (co-evolution is when the performance of evolved agents depend on other evolved agents). There are two variants of competitive co-evolution.

The form of co-evolution used to create Blondie24 is to use a single population. The population is evolved by repeatedly picking two random members of the population and having them face off,

[2017-05-20 05:11] schrum2 opened #324 "Implement Othello"
Another board game that should be pretty easy to implement is Othello. I did some work with Othello a long time ago, though no published research came of it. I can teach you how to play if you are unfamiliar.

Note that Othello is also known as Reversi.

[2017-05-20 23:52] schrum2 commented on #290
No one is directly assigned to this any more. It's something that I hope someone will get around to, but will be tough compared to lots of others things we could do instead.

[2017-05-20 23:58] schrum2 commented on #293
Good job on the testing. I'm making some changes to the batch files myself now. Mostly, I'm reducing population sizes to see if a single generation can actually complete in a reasonable time.

I would like you to take the VizDoom subdir in the batch directory and replace it with several subdirs organized by task. For example, VizDoom-Basic, etc.

I will be deleting batch files for some tasks entir

[2017-05-21 01:45] schrum2 opened #325 "VizDoom: Defend Center Task"
Looking through your report on all the batch files ( #293 ) reminds me that we had previously put a lot of effort into making the VizDoom Defend the Center task work. It certainly seems to have the most batch files associated with it.

Try running and, if necessary, tweaking the batch files we have to produce good performance in this task. Consider approaches we haven't done yet.

Also, I believe

[2017-05-21 02:02] schrum2 opened #326 "VizDoom and HyperNEAT visualization problem"
There is definitely a problem with VizDoom when postAllBestObjectiveWatch.bat is used on agents evolved with HyperNEAT. Specifically, the problem seems to be an ArrayIndexOutOfBoundsException when drawing the graphics for the final output substrate.

Figure out what the issue is and fix it. An example that you can use to recreate the issue is
VizDoom-DefendCenter-moHNSmudgeRowAllColors.bat

[2017-05-21 03:14] schrum2 commented on #293
I've been looking at your report, but some of the conclusions are invalid because of errors in the batch files. Whenever you launch an experiment, it checks to see if the designated save directory already exists, and resumes from that point. This also means that saved parameter values get used instead of what is specified in the batch file.

The reason there is a problem is that some of the batch

[2017-05-22 18:04] DarwinJohnson commented on #313
If we test this with one more game, then this issue can be closed.

[2017-05-22 18:29] alicequint commented on #304
as is, the fitnessFunction seems to be in a pretty good place, i don't see myself changing it any time soon.

[2017-05-22 18:33] alicequint commented on #305
we've been able to conduct several successful tests using the agents already in microrts with evaluation functions that use NNs, so i'm going to close this issue

[2017-05-22 18:33] #305 closed, assigned to alicequint

[2017-05-22 19:00] alicequint opened #327 "Make MicroRTSEvaluationFunction be a parameter"

[2017-05-22 21:06] schrum2 opened #328 "Generalized and improved fitness functions for microRTS"
Design a MicroRTSFitnessFunction abstract class or interface (whichever seems appropriate) and have your current fitness function extend/implement it. Allow the fitness function for microRTS to be designated as a command-line parameter.

Note that the fitness labels needed by the registerFitnessFunction calls in the task constructors will have to come from instances of this new fitness function cl

[2017-05-22 21:09] schrum2 commented on #324
Once it seems to work, be sure to verify it both by playing it as a human and by by creating a batch file that will evolve against a random player.

Regarding human play: It might be possible to generalize your human player to any game, rather than making a specific one for each board game .... at least, I feel that you could make a general human player that could play any game involving a simple

[2017-05-22 21:34] twerisa opened #329 "Add key listeners to keyboard interface"
Add key listeners (similar to the breedesizer) so that the piano can be played by typing on the keyboard as well as clicking on the panel.

[2017-05-22 21:34] #312 closed, assigned to twerisa

[2017-05-22 21:35] twerisa commented on #312
Created new issue (#329) for the last part of this issue, which is to add key listeners.

[2017-05-22 21:39] schrum2 commented on #327
Be sure to assign labels and yourself to tasks that are meant for you.

[2017-05-22 21:49] #327 closed, assigned to alicequint

[2017-05-22 21:54] #317 closed, assigned to twerisa

[2017-05-23 01:27] schrum2 commented on #286
The microRTS task seems to be able to evolve. We still need to put a lot of work into improving it, but I'm going to close this issue. Future issues should be more specific when relating to this domain.

[2017-05-23 01:27] #286 closed, assigned to alicequint

[2017-05-23 01:37] schrum2 commented on #320
It seems like we'll end up with several evaluation functions, so move them into a package called:
edu.utexas.cs.nn.tasks.microrts.evaluationfunctions

[2017-05-23 01:45] schrum2 commented on #304
This issue is done, but #328 deals with creating new fitness functions.

[2017-05-23 01:45] #304 closed, assigned to alicequint

[2017-05-23 01:46] schrum2 commented on #328
Classes related to these fitness functions should be in a new package:
edu.utexas.cs.nn.tasks.microrts.fitness

[2017-05-23 01:51] schrum2 commented on #321
The getSubstrateInformation and getSubstrateConnectivity methods are incomplete, regardless of the evaluation function you use.

At a minimum, you need the input layer, and an output substrate containing a single neuron (the utility of the state). However, you should probably also have an intermediate hidden/processing layer of the same size at the input substrate. These are defined in getSubstrat

[2017-05-23 01:56] schrum2 commented on #294
One input representation that I recall seeing somewhere uses angle and distance to the two nearest enemies as input parameters. We should find the paper that did this and include it in the artifacts, as well as implement this approach ourselves.

[2017-05-23 01:59] schrum2 commented on #329
Making this work in a usable way may require finding a way to interrupt a sound in progress.

[2017-05-23 02:00] schrum2 commented on #310
Dedicate some time to messing around with this again. However, as before, set a time limit in advance and move on to something else if you get stuck.

[2017-05-23 02:08] schrum2 commented on #329
While working on this, be sure to remove the debug print statements that are currently present when using the keyboard.

[2017-05-23 03:08] schrum2 opened #330 "MIDI playback with CPPN"
As I understand it (and this may be overly simplified), a MIDI file is basically a collection of notes, and can therefore be played back in different ways (different instruments for example). Develop a way to play a MIDI file with an evolved CPPN as the "instrument." Then, we could play back entire songs with our evolved CPPNs.

[2017-05-23 14:25] schrum2 opened #331 "Make all board game tasks into HyperNEAT tasks"
The different board game tasks (static, coevolution, etc.) should be HyperNEAT tasks. This means they need to return substrate information. However, this substrate information should come from the BoardGame instances. However, I wonder if we can avoid duplicated code by making a general TwoDimensionalBoardGame abstract class that implements BoardGame, and is extended by TTT, Othello, Checkers, etc

[2017-05-23 14:38] DarwinJohnson commented on #324
The Batch File set to evolve against a Random Player appears to be working; the program evaluates both Parents and Children and saves the appropriate files in the correct directories. So far, the Players appear to be evenly matched; it always ends in a Tie right now.

[2017-05-23 15:55] #321 closed, assigned to alicequint

[2017-05-23 15:55] #329 closed, assigned to twerisa

[2017-05-23 16:58] twerisa commented on #310
Potentially useful links for this task:
http://www.developer.com/java/other/article.php/2226701/Java-Sound-Creating-Playing-and-Saving-Synthetic-Sounds.htm
https://docs.oracle.com/javase/7/docs/api/javax/sound/sampled/spi/FormatConversionProvider.html

[2017-05-23 19:29] twerisa commented on #330
https://www.cs.cmu.edu/~music/cmsip/readings/MIDI%20tutorial%20for%20programmers.html
Useful webpage about how MIDI files work

[2017-05-24 14:48] schrum2 opened #332 "Ability to specify microRTS opponent from commandline"
Define a new class parameter "microRTSOpponent" that specifies an opponent AI class to instantiate for each match. However, this will be a bit of a challenge, because the constructors for all AIs seem to be fairly complicated. The ClassCreation methods all assume that a constructor with no parameters is being used (constructors with multiple parameters can be used, but I think this approach is ove

[2017-05-24 14:59] schrum2 opened #333 "Ability to specify evolved microRTS agent from commandline"
Currently, we are only evolving evaluation functions and using built-in agents along with them. We should have a way to specify which built-in agent to use along with our evolved evaluation functions using a class command line parameter.

However, as with #332 we will need to deal with the issue of how to construct the agent to use the evolved evaluation function. Fortunately, many (if not all) AI

[2017-05-24 15:00] schrum2 commented on #332
Note also that some enemy AI classes also use an evaluation function, and you may want to be able to specify which one the agents use via a command line parameter.

[2017-05-24 18:06] #310 closed, assigned to twerisa

[2017-05-24 18:48] alicequint commented on #328
finished in ...microrts.fitness.ProgressiveFitnessFunction

[2017-05-24 18:48] #328 closed, assigned to alicequint

[2017-05-24 19:07] alicequint opened #334 "Allow children to partially inheret their parents fitness"
find a way to have the fitness of an organism being the weighted average between fitnesses of it and its ancestors

[2017-05-24 19:10] DarwinJohnson commented on #324
When selecting a place to Move to, if more than 1 piece can Move to that Space, then all Enemy Pieces form both Moves will be converted. Need to change the code to allow for this.

[2017-05-24 20:40] twerisa commented on #271
Solved issues with saving playable CPPN file (issue #310)

[2017-05-24 21:16] twerisa commented on #310
This issue is solved, but I noticed something strange when looking at BreedesizerTask. The AudioFormat initialized in BreedesizerTask conflicts directly with the AudioFormat used to save files from a CPPN. From my reading on WAV files, I found that there were two main initialization options when choosing AudioFormats - one is 16 bit, 44100 default sample rate, and signed, and the other is 8 bit wi

[2017-05-25 02:33] schrum2 opened #335 "TwoDimensionalBoardGameViewer"
Scrap the BoardGameViewer class and replace it with a TwoDimensionalBoardGameViewer class. However, remove the code and start from scratch. The game should be drawn using the DrawingPanel class, which is fairly easy to use.

All 2D games should be drawn as a rectangle of squares whose size is determined by the getBoardWidth and getBoardHeight methods.  You should add a method to TwoDimensionalBoar

[2017-05-25 16:32] alicequint opened #336 "Make a List of All Agents that can Definitely be used in MicroRTSTask"
the list will go on the google drive, and will include the path that is needed for entering it into the command line or a batch file as a parameter. i'll do this as soon as i finish tying out and integrating all the agents ive found

[2017-05-25 18:18] alicequint commented on #336
https://docs.google.com/document/d/1ts3FOQuAvKO9xtwv6Eov3AIFpfm5q2AVNJO6dv6THaU/edit

[2017-05-25 18:18] #336 closed, assigned to alicequint

[2017-05-25 18:19] #333 closed, assigned to alicequint

[2017-05-25 19:12] #332 closed, assigned to alicequint

[2017-05-25 19:23] twerisa commented on #316
If current approach does not work, then consider taking WaveFile class from this link:
https://stackoverflow.com/questions/39313634/extract-amplitude-array-from-a-wav-file-using-java

[2017-05-25 20:10] alicequint commented on #320
1. done
2. done
3. started but not finished

[2017-05-25 20:52] schrum2 opened #337 "SinglePopulationCompetativeCoevolutionMicroRTSTask"
Create a new SinglePopulationCompetativeCoevolutionMicroRTSTask that extends the SinglePopulationCoevolutionTask. This approach would pit evolved agents using two different evolved neural networks against each other in an attempt to create better and better agents.

This class would share a lot of code with the original MicroRTSTask, so you should make a MicroRTSUtility class that stores static me

[2017-05-25 20:54] schrum2 opened #338 "Efficiency of MicroRTS code"
In the MicroRTS code, find ways to make it as fast as possible by avoiding unnecessary repetition. In particular, some files that are loaded or classes that are constructed at the beginning of every evaluation can instead be loaded when the task is initially constructed. However, you will need to make sure that these tasks are appropriately reset at the start of each evaluation to assure correct r

[2017-05-25 21:03] DarwinJohnson commented on #324
Now that the Game's Mechanics are fully implemented, even with extending the TwoDimensionalBoardGame classes, I think Othello is complete. If any more errors arise, we can re-open this Issue, but it should be fully functional right now.

[2017-05-25 21:03] #324 closed, assigned to DarwinJohnson

[2017-05-25 21:59] DarwinJohnson commented on #313
OneStepEval works with Othello. It appears to be working.

[2017-05-25 22:01] DarwinJohnson opened #339 "Test States for TicTacToe and Othello"
A set of BoardGameStates for TicTacToe and Othello need to be created to ensure that the possibleBoardStates() method is functioning for both of the Classes. These States will be hand-crafted and the resulting List of possible States must be compared against a hand-made List.

[2017-05-25 22:02] twerisa commented on #316
Figured out that the Remixbreeder only worked not just for 16 bit, mono files, but also only for files with a sample/frame frate of 44100 Hz. This turned out to be an issue with the formatting of the SourceDataLine, because in PlayDoubleArray it was initialized at a constant format of 44100 Hz, 16 bit, and mono channel. Created a public method that sets the format of the line to the format of the

[2017-05-26 02:27] schrum2 commented on #271
I'm going to close this issue. Even though you will continue to add code to these utility classes, I think that those should be associated with more specific issues. However, the general framework for sound manipulation clearly exists already ... even if there are still some improvements needed.

[2017-05-26 02:27] #271 closed, assigned to twerisa

[2017-05-26 02:29] schrum2 commented on #330
Even if all you have working is a rudimentary version of this, I would like to plug it into Breedesizer. Add a button that plays a MIDI file (specified by a command line parameter in Parameters.java) using the currently selected CPPN sound. (Look at the PlayOriginal button in RemixBreeder to see how to add such a button)

[2017-05-26 02:32] schrum2 opened #340 "Sound loading in all formats"
Currently, we know that our code can really only load 16-bit mono WAV files. We need to generalize this. Getting the current code to work with 8-bit mono files should be straight-forward (hopefully). We should also add support for stereo, bu that level of support may require more drastic changes.

A last issue related to this is making sure that the RemixBreeder generates sounds with a frequency a

[2017-05-26 02:32] schrum2 commented on #340
I suppose that long term, also being able to load MP3s is important, even if we do it by immediately converting them to WAV.

[2017-05-26 02:35] schrum2 commented on #258
This is a fairly important task that I want tackled, but I don't know if Isabel will get around to it given all the sounds she is evolving. To Alice: if you need work to do while waiting for MicroRTS agents to evolve, then this is an issue I would like addressed.

Ultimately, once HybrID is implemented, we want to extend Lauren's previous work with Tetris.

[2017-05-26 14:40] #338 closed, assigned to alicequint

[2017-05-26 16:39] twerisa commented on #330
Some useful info about MIDI tracks:
-getCommand() specifies whether note is ON or OFF
-getData1() is the key (int that encodes note and octave)
-getData2() is the velocity (has to do with volume)
*NOTE_ON with velocity == 0 is the same as NOTE_OFF*

From what I've seen about MIDI tracks, there is no way to directly access the duration of a note. The pieces of data above are the main things that ar

[2017-05-26 16:53] alicequint opened #341 "EvaluationFunction for BroodWar Maps"
going to have it make input substrates that condenses 2x2 spaces into single inputs
some way of helping units path? / know where to go?

[2017-05-26 16:57] twerisa commented on #330
Links about conversion between ticks and milliseconds:
http://www.harmoniccycle.com/hc/music-25-MIDI-BPM-PPQ.htm
https://stackoverflow.com/questions/2038313/midi-ticks-to-actual-playback-seconds-midi-music

[2017-05-26 20:38] schrum2 commented on #341
When you get around to this, make the window size a parameter (like microRTSInputCellSize or something similar). The default value of this parameter should be 1, which is equivalent to what you are currently doing: one input per cell in the game. However, if the parameter equals 3, then every 3 by 3 group of game cells is a single network input.

We'll figure out how to handle path finding and lay

[2017-05-26 21:31] schrum2 commented on #336
I found a very useful site with information about the MicroRTS domain. It
lists out all of the agents included in the code, and event has several
links to papers describing rudimentary experiments with the different types
of agents. Use this list to make sure you are fully exploring all possible
agents, and also to compare performance they achieved in experiments with
our own performance. See how

[2017-05-26 21:46] twerisa commented on #330
A possible solution to the CPPN playback only being able to play one note at once could be creating another SourceDataLine (?) so that there can be multiple buffers running, and therefore multiple voices playing. Might involve some more significant code restructuring. Next week, get MIDI functioning for multiple voices and generalize code so that BPM and PPQ can be accessed generally from any MIDI

[2017-05-26 21:58] DarwinJohnson commented on #339
The JUnit Test Cases for TicTacToe and Othello are now complete.

[2017-05-26 21:58] #339 closed, assigned to DarwinJohnson

[2017-05-27 00:25] schrum2 commented on #313
I re-opened this. Before starting on #309 you should generalize the OneStepEval player to use a proper HeuristicFunction. The BoardGameHeuristic interface should simply have a single method that takes a T that extends BoardGameState and returns a double. One example of such a heuristic function would be an NNBoardGameHeuristic that takes a T that extends Network on construction, and uses it to com

[2017-05-27 00:29] schrum2 opened #342 "Implement and test Checkers"
You have already put a lot of work into Checkers, so I figured I would make it an official issue (feel free to open issues about code you are working on). Finish implementing Checkers, and afterward write JUnit tests for the CheckersState, since that is definitely a complicated class with lots of possible room for error.

It is also pretty clear that Checkers breaks some of the assumptions of out

[2017-05-29 16:34] schrum2 commented on #340
Please clean up the examples in SoundUtilExamples. In particular, each example should have a comment explaining what it is testing, and the current tests should probably be spread out across methods that are not commented out (though the test methods are not called).

In particular, I would like examples where wave files with each encoding that you can find (8 vs 16 bit, signed vs unsigned, differ

[2017-05-29 16:40] schrum2 commented on #316
Successful completion of this issue depends on the completion of #340 since we need to be able to load and playback the original sound properly.

Also, I'm still a little suspicious about how sounds are currently fed into the CPPNs. I suspect that the sample rate may not be set right. It should probably be an argument sent to the CPPN playing methods.

[2017-05-29 16:46] schrum2 commented on #330
I think to make this work, we need to have the ability to play back multiple sounds simultaneously.

First, make an inner class within PlayDoubleArray that encapsulates the static line, lineSave, buffer, bufferSize, playing, and available variables. The static methods that depend on these variables should also be encapsulated within the new class, which should be called AmplitudeArrayPlayer (shoul

[2017-05-29 16:54] schrum2 commented on #330
Once we have a way to play back multiple sounds simultaneously, then I think we can play back a MIDI file accurately by doing the following:

I read somewhere that the standard number of sound channels for a MIDI track is 16 (there can be more, but this is a good place for us to start). For MIDI playback, we can create up to 16 arrays of frequency values. The lengths of the arrays will equal the n

[2017-05-29 16:59] schrum2 commented on #320
It sounds like the complex eval function will be influenced by various command line parameters that turn groups of input options on/off. Each of these groups of inputs should also be associated with a HyperNEAT input substrate

[2017-05-30 14:40] alicequint opened #343 "extra data in MicroRTS FitnessFunctions"
the ff's all return a pair of double arrays, the second of which is "other data". make this at least track win/loss and register it so that it shows up in gnuplot

[2017-05-31 02:01] schrum2 commented on #313
I think this is done.

[2017-05-31 02:01] #313 closed, assigned to DarwinJohnson

[2017-05-31 02:03] schrum2 commented on #309
Currently, the Minimax play just looks like the OneStepEval player. I assume this was just a starting point that you intend to elaborate on, but if you need more guidance on the minimax player then let me know.

[2017-05-31 16:15] twerisa opened #344 "Fix saving files in Remixbreeder"
Audio files currently save in Remixbreeder, but play back as if they were sped up. Possibly something with the audio format? There was a similar issue with the initial code that saved files in the Breedesizer, but it was resolved somehow. Trace this resolution and figure out how to apply it to the Remixbreeder.

[2017-05-31 16:39] DarwinJohnson opened #345 "Piece Differential BoardGameHeuristic"
Create a BoardGameHeuristic that returns the number of Player Pieces minus the number of Enemy Pieces on any given BoardGame. A Player using this Heuristic will value Moves that increase the number of Player Pieces and/or decreases the number of Enemy Pieces.

[2017-05-31 16:44] #344 closed, assigned to twerisa

[2017-05-31 21:13] #343 closed, assigned to alicequint

[2017-05-31 21:15] alicequint commented on #337
MicroRTSUtility as well as SinglePopulationCompetativeCoevolutionMicroRTSTask  exist and work

[2017-05-31 21:47] schrum2 commented on #337
Re-opening this so you can address the fitness tracking issue: Each individual that is evaluated needs its fitness stored/tracked separately.

[2017-05-31 21:50] schrum2 commented on #331
This is the next high-priority issue. Try to get a working example of an agent evolved with HyperNEAT against a random tic-tac-toe player. You will need to make a new batch file for this.

[2017-05-31 22:48] schrum2 commented on #345
I think this is correctly implemented. Go ahead and close this issue after you have a running batch file against a one-step-eval opponent that uses the piece differential heuristic.

[2017-05-31 22:50] schrum2 commented on #309
Create JUnit tests for this agent using the piece differential heuristic in othello. Once those are done, you can close this.

[2017-05-31 22:52] schrum2 commented on #323
I think SinglePopulationCompetativeCoevolutionBoardGameTask works, but update this issue if I am wrong.

Still need to make MultiPopulationCompetativeCoevolutionBoardGameTask before this issue can be closed.

[2017-06-01 01:50] schrum2 opened #346 "OutOfMemory error in MicroRTS"
This could be an issue with the Monte Carlo agent that comes with the microRTS code, or it could be an issue with how you re-organized code to generalize the standard and coevolution tasks. The problem is likely a memory-leak (or the Java equivalent of one).

If you are not able to close this issue quickly and easily, then track all details associated with the bug here. Also, I can show you how to

[2017-06-01 02:07] schrum2 opened #347 "Incremental evolution or other interesting training scenario"
One challenge with our microRTS approach is that there are so many opponents we can compare against, and so many levels to train in. We need to get some control over all of this complexity. One thing we need to find out is which type of agent to evolve evaluation functions for (Note for the long term: comparing all of these possibilities could make for a research paper topic down the line).

Howev

[2017-06-01 02:51] schrum2 opened #348 "Incremental evolution: map size increase with HyperNEAT"
One of the really cool things about HyperNEAT is that an evolved CPPN can create substrate networks of arbitrary sizes. They encode knowledge at infinite resolution, so as long as their knowledge generalizes, you can transfer things you learn on small maps to large maps. Note that regular NEAT is NOT capable of this ... NEAT networks evolve with a set number of inputs, so if your evaluation functi

[2017-06-01 13:42] schrum2 opened #349 "Alternative Tetris Fitness Functions"
Game score fitness takes score multipliers from eliminating multiple lines simultaneously into account. However, this fitness measure may bias play toward tetrises, which is dangerous, even though it can lead to lots of points. Create a simple "lines cleared" fitness.

Another fitness function that could replace time alive is the average number of unoccupied game cells through the course of play.

[2017-06-01 16:47] DarwinJohnson commented on #326
Apparently applies to board game tasks as well

[2017-06-01 16:49] DarwinJohnson commented on #326
Will re-create the issue using the run config in Eclipse to track down the issue.

[2017-06-01 16:51] DarwinJohnson commented on #331
HyperNEAT TicTacToe appears to be working, and other BoardGames can likely run as HyperNEAT Tasks as well. However, there is a visualization error when using PostAllObjectiveBestWatch.bat, similar to the VizDoom issue #326. This specific issue can be closed, and the lingering visualization error will be fixed soon.

[2017-06-01 16:51] #331 closed, assigned to DarwinJohnson

[2017-06-01 17:00] schrum2 commented on #349
I implemented the average number of unoccupied game cells fitness function, but the results being plotted do not make sense. Look at more closely

[2017-06-01 19:45] DarwinJohnson commented on #345
There are now two Othello Batch Files that have an Opponent that use the PieceDifferentialHeuristic. This Issue should be done for now.

[2017-06-01 19:45] #345 closed, assigned to DarwinJohnson

[2017-06-01 20:37] alicequint commented on #346
the code Can run for multiple trials,
whenever it stops, it is on pa1.getAction()

[2017-06-01 21:15] schrum2 commented on #346
Please indicate which batch file or run parameters are consistently creating the crash

[2017-06-01 21:33] alicequint commented on #346
batch file: MicroRTS-2D-Progressive.bat
program crashes after a few minutes,
does not crash if fileio is false

[2017-06-01 21:34] DarwinJohnson commented on #326
Correction to the previous Commit: The VizDoom Visualization Error was, in fact, caused by the same Error in TicTacToe. The issue has been resolved; HyperNEAT VizDoom Tasks can now be seen using postAllBestObjectiveWatch.

[2017-06-01 21:34] #326 closed, assigned to DarwinJohnson

[2017-06-01 21:40] schrum2 commented on #340
This webpage indicates how to convert (but with some noise) from 16 bit to 8 bit:
https://stackoverflow.com/questions/17345287/from-audio-pcm-16-bit-to-8-bit-getting-noise

This is not what we want to do, but maybe we can reverse the process. We have both a byte[] of 8 bits values, and I think that the int[] of 8-bit values that we can extract from it might be accurate.

Let's say we take an int[]

[2017-06-02 04:18] schrum2 commented on #293
This issue is close to being done. Simply do the following things:

"I would like you to take the VizDoom subdir in the batch directory and replace it with several subdirs organized by task. For example, VizDoom-Basic, etc."

Also, make sure that the log and saveTo directories of ALL batch files match the batch file names.

Once you do this, close the issue.

[2017-06-02 04:20] schrum2 commented on #325
Launch one of the Defend Center HyperNEAT batch files first thing in the morning and let it run all day ... track what the resulting performance is in this issue. Also note how many generations complete with one day of execution, and note the population size and number of trials in this issue as well.

[2017-06-02 04:22] schrum2 commented on #323
In addition to working on the MultiPopulationCompetativeCoevolutionBoardGameTask, you should also be able to create coevolution batch files that use HyperNEAT. Please do this.

In fact, you should break the BoardGame subdir in the batch files directory into several subdirectories based on board game.

[2017-06-02 04:29] schrum2 commented on #322
Correction: BoardGameFeatureExctractor should not have a T extends Network.
Rather, it should have a T extends BoardGameState.

The main function of BoardGameFeatureExctractor is getFeatures that takes in a T (something that extends BoardGameState) and returns a double array.

In fact, the getDescriptor method that we worked on recently is sort of a default feature extractor. You can actually defi

[2017-06-02 04:48] schrum2 commented on #330
This is still a rough issue. We know that several notes can be played simultaneously now, but we need to figure out how to make various notes play at the right times.

One util method that I think could help would be a way to get the number of ticks in a track:
public static int ticksInTrack(Track track) would loop through the track size and calculate the maximum getTick() result across all ShortM

[2017-06-02 04:56] schrum2 commented on #337
Did your recent fitness function improvements make co-evolution work correctly? If so, then you can close the issue.

[2017-06-02 14:17] DarwinJohnson commented on #293
The VizDoom subdir has been broken up into several subdirs organized by Task. The Batch Files all have the correct log and saveTo directories. Everything is organized now.

[2017-06-02 14:17] #293 closed, assigned to DarwinJohnson

[2017-06-02 15:15] DarwinJohnson commented on #309
The JUnit Test Case for the Othello Minimax PieceDifferential BoardGamePlayer is working. The PieceDifferentialBoardGameHeuristic is functioning properly.

[2017-06-02 15:15] #309 closed, assigned to DarwinJohnson

[2017-06-02 15:24] schrum2 commented on #349
Now that the tetrisLinesNotScore option has been added, this can be closed

[2017-06-02 15:24] #349 closed, assigned to schrum2

[2017-06-02 15:38] DarwinJohnson commented on #325
Ran VizDoom-DefendCenter-moHNSmudgeRow with a population size of 10 with 5 trials each. Test completed 104 generations before being stopped manually.
Final Values:
Time Spent Alive: Max: 530 Avg: 475 Min: 410
Targets Hit: Max: 3.2 Avg: 2.7 Min: 2
Doom Reward: Max: 4.2 Avg: 3.3 Min: 2.0

[2017-06-02 15:50] schrum2 commented on #108
There seems to be a null pointer in DangerousAreaModeSelectorTest. I think the reason is that after the Parameter init in the setUpBeforeClass, you need to call MMNEAT.loadClasses()

[2017-06-02 18:47] schrum2 commented on #330
Fix speaker pop according to this:
https://stackoverflow.com/questions/33453489/popping-sound-with-sourcedataline-audio

[2017-06-02 19:34] schrum2 commented on #346
I'm currently having trouble re-creating this. If it happens to be fixed, then that's great! However, if the error ever occurs again then be sure to mention it here.

If we don't encounter this error again for a while, then I will close the issue.

[2017-06-02 19:40] schrum2 opened #350 "Behavioral Diversity in Board Games"
Implement a default domain-specific behavior characterization for board games that simply puts the getDescription results into an ArrayList (there is a method in ArrayUtil that can take care of this for you). Note that the actual handling of this should be via a static method in the BoardGameUtil class so that if we change our mind about the default behavior characterization, it will affect all va

[2017-06-02 20:32] schrum2 commented on #348
Since mapSequence is a class name, please capitalize the m in Map

[2017-06-02 20:32] schrum2 commented on #347
Since enemySequence is a class name, please capitalize the e in Enemy

[2017-06-02 21:10] DarwinJohnson commented on #342
The CheckersState Test Cases function perfectly. The game runs as expected. Checkers is now fully implemented.

[2017-06-02 21:10] #342 closed, assigned to DarwinJohnson

[2017-06-02 21:11] schrum2 commented on #282
Closing this because the error is so inconsistent and doesn't seem to be an issue to worry about.

[2017-06-02 21:11] #282 closed, assigned to schrum2

[2017-06-02 21:34] DarwinJohnson commented on #325
Ran VizDoom-DefendCenter-moHNSmedgeRow with a population size of 50 with 5 trials each. Test completed 72 generations before being stopped manually.
Final Values:
Time Spent Alive: Max: 1008 Avg: 801 Min: 561
Targets Hit: Max: 7.2 Avg: 5.3 Min: 3.4
Doom Reward: Max: 11.8 Avg: 8.4 Min: 5.1

[2017-06-02 21:45] alicequint commented on #348
java.lang.IndexOutOfBoundsException: Index: 129, Size: 129
	at java.util.ArrayList.rangeCheck(ArrayList.java:653)
	at java.util.ArrayList.get(ArrayList.java:429)
	at edu.utexas.cs.nn.networks.hyperneat.HyperNEATUtil.drawCoord(HyperNEATUtil.java:250)
	at edu.utexas.cs.nn.networks.hyperneat.HyperNEATUtil.drawSubstrate(HyperNEATUtil.java:215)
	at edu.utexas.cs.nn.networks.hyperneat.HyperNEATUtil.draw

[2017-06-03 01:23] schrum2 opened #351 "General Game Playing"
There used to be (still is?) a General Game Playing competition in which board games are described using a formal description language that allows them all to use the exact same interface for interacting with the game. The code seems to be available at this GitHub repository:
https://github.com/ggp-org/ggp-base

Rather than try to implement every game we can think of from scratch, we could relay o

[2017-06-03 01:28] schrum2 commented on #315
When you do the literature search for this, you should come across plenty of GGP papers #351 . Be sure to pay attention to General Game Playing when searching the literature.

You will find lots of work that does NOT use evolution, but these papers are still important. Save the papers you find in the Google Drive and catalog useful reference information about them.

[2017-06-03 01:37] schrum2 opened #352 "depth limit parameter for minimax"
Make the DEPTH constant for the BoardGameMinimaxPlayer into a command line parameter defined in the Parameter file. Call it "minimaxSearchDepth"

[2017-06-03 01:56] schrum2 opened #353 "Alpha-Beta pruning for Minimax"
Minimax will unnecessarily search certain portions of the game tree which are guaranteed to be irrelevant. There is an approach called alpha-beta pruning which ignores these branches. I describe it in this video, https://youtu.be/A7AO152vy50, and you can also find code online in various places.

Create a separate BoardGamePlaying agent that extends the BoardGamePlayerMinimax. Call it BoardGamePlay

[2017-06-03 02:05] schrum2 commented on #353
See comment made in this commit: 22389dd21d057bd5e688e1698cc65acafd783339

[2017-06-03 02:27] schrum2 commented on #322
The getFeatureLabels method of BoardGame should be removed, and instead be made into a method of the BoardGameFeatureExtractor (note: all feature extractor classes should be in their own sub-package). Change the class RawBoardGameFeatureExtractor into Raw2DBoardGameFeatureExtractor and make it apply only to 2D board game states. Then move the getFeatureLabels method definition from TwoDimensionalB

[2017-06-03 02:36] schrum2 opened #354 "Game Tree Search overrides for win and loss states"
For the NNBoardGameHeuristic, make it so that a terminal win state returns a result of 1 instead of the network's evaluation, and a terminal loss state returns a result of -1 instead of the network's evaluation. A terminal win state should return a 0.

Actually, make a boolean command line parameter that makes this overriding an option. Call it something like  "heuristicOverrideTerminalStates". If

[2017-06-03 03:20] schrum2 commented on #330
Before trying to play back multiple separate sounds simultaneously, do some research into the properties of sound waves. I think there might be a way to take two separate sound waves and combine them into a single sound wave that sounds the same as both waves playing separately.

However, if a way to do this exists, I can confirm that it is NOT as simple as adding up the amplitude values across al

[2017-06-03 05:28] schrum2 opened #355 "Picture Remix"
I just realized that if we can remix songs, then we can remix pictures. Extend the Picbreeder class to make a picture remixer. I believe that a Parameter already exists that designates an image to load (for the ImageMatchTask), and you can co-opt this to be the image input to the picture remixer.

Picbreeder works by taking X, Y, distance from center, and a bias input, and outputting H, S, V numbe

[2017-06-03 18:28] schrum2 commented on #347
Also, make EnemySequence an interface rather than a class. The only method the interface needs is getAppropriateEnemy. However, the specific list of enemies that you have should be moved into a class that implements the EnemySequence interface. You can name it something like SimpleEnemySequence or DefaultEnemySequence. This class should be the default enemy sequence specified as a command line cla

[2017-06-03 18:31] schrum2 commented on #348
Similar to #347, MapSequence should be an interface. Move the code you currently have into a class that implements this interface. Call the class something like DefaultMapSequence or BasicMapSequence.

[2017-06-04 16:16] schrum2 opened #356 "HyperNEAT networks with convolutional structure"
Define the HyperNEAT substrates to define a convolutional architecture. Technically, it seems possible for a standard HyperNEAT substrate network to automatically have a convolutional structure (http://mlanctot.info/files/papers/gecco16-dppn.pdf), but this seems unlikely to emerge purely through evolution. I want to encourage it more directly.

It seems that a simple way to get the right structure

[2017-06-04 19:38] schrum2 commented on #356
I also learned some important information about shared weights and biases from this video:
https://www.youtube.com/watch?v=ixF5WNpTzCA

As I already knew, ReLU is a common activation function.

This also taught me about pooling, by which a group of neuron outputs get reduced to a single value (example: maximum output across all neurons considered). This is reminiscent of the smudge statistic trick

[2017-06-05 14:20] DarwinJohnson commented on #352
The Search Depth Parameter has been added to the Parameter Class and the Minimax BoardGamePlayer.

[2017-06-05 14:20] #352 closed, assigned to DarwinJohnson

[2017-06-05 14:50] DarwinJohnson commented on #354
The "heuristicOverrideTerminalStates" Parameter has been added, and the appropriate changes have been made to the NNBoardGameHeuristic.

[2017-06-05 14:50] #354 closed, assigned to DarwinJohnson

[2017-06-05 14:58] alicequint commented on #337
yes, coevolution seems to be working fine

[2017-06-05 14:58] #337 closed, assigned to alicequint

[2017-06-05 14:59] twerisa commented on #330
This [link](https://stackoverflow.com/questions/12568326/merge-two-audio-filesnot-concat-in-javaapi) has links to some useful information about merging two sounds in java. The information I have found mostly applies to WAV files, but I'm thinking that once a MIDI file is converted to an array, it may be able to be converted into a WAV file and analyzed using WAV file utility methods. However, if t

[2017-06-05 14:59] DarwinJohnson commented on #325
Ran VizDoom-DefendCenter-moHNSmudgeRow with a population size of 100 with 5 trials each. Test completed 282 generations over the weekend before being stopped manually.
Final Values:
Time Spent Alive: Max: 1590 Avg: 1270 Min: 915
Targets Hit: Max: 12.0 Avg: 9.3 Min: 6.2
Doom Reward: Max: 20.0 Avg: 15.3 Min: 10.0

[2017-06-05 15:00] schrum2 commented on #348
This issue can't close until MapSequence becomes an interface rather than a class with a static method. See TODO comments in MapSequence.

[2017-06-05 16:31] DarwinJohnson commented on #351
I cloned the specified repository into the workspace, but the Project didn't appear in Eclipse. Looking into the actual files, I found only a few scattered Java files and several KIF and JScript files. Importing through Eclipse doesn't have much better results; the Project will appear, but the src folder will be empty.
  It also appears that the only implemented games in the Project are TicTacToe,

[2017-06-05 16:34] schrum2 commented on #351
Other games are available in a variety of places throughout the internet,
but we have to get the base software working in order to take advantage of
it.

[2017-06-05 16:46] twerisa commented on #319
Have a separate class that I think should be able to create an animation from a set of images. However, the parameters for the applet have to be initialized. Some of the resources I've read about applet parameters say that a separate web page has to be create that specifies the parameters, and then the applet has to be launched in that webpage. I need to look at applet parameter specifications, be

[2017-06-05 16:48] schrum2 commented on #319
Java Applets always have the option of being run inside of a webpage, but
it is a bit tricky and unnecessary. Don't try to involve a webpage.

[2017-06-05 21:52] schrum2 commented on #353
Make a unit test for the alpha-beta pruning version. Do so in the following way:

Notice that I added a Random instance to the random board game player. This is set to be RandomNumbers.randomGenerator by default, so that any given experiment can be recreated with the right random seed. However, since the Random instance is stored locally, this also means that any class in the same package will be

[2017-06-05 21:57] schrum2 commented on #353
Once the unit tests described above are successful, replace all uses of minimax in batch files with the alpha-beta version (it is strictly better in every sense).

[2017-06-05 22:08] schrum2 opened #357 "Sophisticated Checkers Fitness function"
It is always useful to recreate previous results before moving on to something more complex: I noticed that in the Checkers HyperNEAT paper (http://eplex.cs.ucf.edu/papers/gauci_aaai08.pdf) a fairly sophisticated fitness function specific to Checkers is used. Therefore, this GitHub issues was two parts.

First, create a facility to allow general fitness functions for board game evolution. Specific

[2017-06-06 02:36] schrum2 opened #358 "Launch evolved network from the microRTS frontend GUI"
As a stepping stone to creating a standalone entry for the competition, simply figure out how to load an evolved agent using the GUI front end within the MM-NEAT project. I'll associate a commit with this issue soon pointing out how I think you can do this in the code.

[2017-06-06 02:52] schrum2 commented on #335
Change the CommonConstants.watch portions of the board game tasks to actually use the 2D board game viewer in the case that the game being played is a 2D board game. This basically boils down to updating the graphics in the viewer each time a move is about to be made. A special case may be needed to show the final game state after the last move.

This will probably flash by extremely fast, but if

[2017-06-06 16:10] #355 closed, assigned to twerisa

[2017-06-06 16:31] schrum2 opened #359 "Enhanced Picture Remixer"
The picture remixer is great, but we've noticed that it cannot do any shifting, skewing, or distorting of the original image. Therefore, we should make an enhanced version that bases the new picture outputs on an entire region from the source image rather than a single pixel.

Here is one way we might be able to accomplish this.

Define a "remixImageWindow" parameter that defines the size of an in

[2017-06-06 17:08] schrum2 commented on #319
You can start on the AnimationBreeder class now. In order to show the animations to the user, I think the best way to set it up is to have the button animate when the mouse hovers over the button. onMouseOver is a method that can be associated with the applet if you specify the appropriate interface. When this happens, the actual animation updates should be executed in a separate thread. However,

[2017-06-06 20:14] alicequint commented on #358
done in MMNEAT, moving on to doing the same in the stand alone MicroRTS

[2017-06-06 20:33] DarwinJohnson commented on #353
The Minimax Players in the BoardGame Batch Files have been replaced with AlphaBetaMinimax Players. The AlphaBetaMinimax has been proven to make the same decisions as the Minimax.

[2017-06-06 20:33] #353 closed, assigned to DarwinJohnson

[2017-06-06 21:17] #347 closed, assigned to alicequint

[2017-06-06 22:29] schrum2 commented on #359
You implemented the window, but it did not accomplish the tweaking and distorting we desired. I'll leave this issue open for now, but at the moment I don't know how to expand on it. Contribute ideas if you have any, but otherwise move on to other tasks.

[2017-06-06 22:34] schrum2 opened #360 "Loading files in remix tasks"
Both the music and picture remixers need to have a button that allows you to load a new file to remix. Clicking this button should open a file dialog window and allow you to search for and select a different image/wave file to remix. Once the new file is loaded, the available buttons should be refreshed.

Related to this: try the sound remixer with some more files. In particular, try taking an mp3

[2017-06-06 22:58] schrum2 commented on #360
Related to this, make sure the sound remixing batch file works.

[2017-06-07 00:58] schrum2 commented on #360
Also, the standard breedesizer needs a button for changing the MIDI file that is played

[2017-06-07 02:05] schrum2 commented on #330
The numerous pieces of advice on the internet, combined with my own initial expectation of how adding waves should work, has convinced me that adding the waves together is in fact the correct way to do it. However, it is clear that play back of fur Elise still sounds weird in a few places with this method. I think that we should look for the causes of this error in other places, and strive to make

[2017-06-07 04:49] schrum2 commented on #315
Issue #357 is an example fitness function that is an offshoot from this issue. I want you to take what you have learned from your literature search and mention/propose a few more possible fitness functions here, be they general of game-specific. I'll peruse them and direct you toward some options that seem within reach and useful to implement.

[2017-06-07 04:50] schrum2 commented on #350
Have you run any of the BD batch files for a while? I'm curious about the results.

[2017-06-07 04:54] schrum2 commented on #315
Here are some Othello papers you should add:
http://www.wfg.csse.uwa.edu.au/publications/WFG2007g.pdf
http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=10AB4B0966FEE51BE133255498065C42?doi=10.1.1.580.8400&rep=rep1&type=pdf
http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=6762937

[2017-06-07 05:01] schrum2 opened #361 "Othello Weighted Piece Counter"
A standard type of heuristic player that has been particularly successful in Othello is a weighted piece counter. A weighted piece counter evaluates board states by associating a weight with each board position and adding that weight to the board's game score if a piece is present there. If the enemy piece is present there, then the weight at that position is multiplied by -1.

Create a general we

[2017-06-07 05:03] schrum2 commented on #323
Let me know if you need help making sense of the MultiPopulation version.

[2017-06-07 05:10] schrum2 opened #362 ""other" score for co-evolution: performance against static agent"
In co-evolution, it can be difficult to assess whether or not your population is actually improving. Generally, the way to do this is to compare members of the population against a fixed opponent, even tough such comparisons will not affect the fitness of the co-evolving agents.

Scores like this are the reason that "other" scores are allows in MM-NEAT (Alice has some experience with this, so chec

[2017-06-07 05:13] schrum2 commented on #358
Reminder: once it works in the stand-alone microRTS project, you will need to go one step further and extract only the classes/packages relevant to our specific entry. Once this works, you will actually need to create a GitHub project in your own GitHub account to host those files (a requirement of the project is making your code readily accessible in this manner)

[2017-06-07 05:15] schrum2 commented on #348
Once we have evidence of a population that successfully evolves through several maps of increasing size, you can close this issue.

[2017-06-07 05:15] schrum2 commented on #346
I'm closing this since it doesn't seem to be a problem anymore.

[2017-06-07 05:15] #346 closed, assigned to schrum2, alicequint

[2017-06-07 05:17] schrum2 commented on #341
The actual competition will involve some large maps that contain obstacles, so I think that starting to work on this soon is fairly important. I don't know if the condensing is absolutely necessary (how fast do HyperNEAT networks run on large maps?), but I do know that handling obstacles in some way is important. Of course, this is linked to issue #320

[2017-06-07 14:07] schrum2 opened #363 "Plot "other" score of wins vs losses regardless of whether it is used as a fitness"
I know that you had a fitness function previously that already calculated this value. It should be included as an "other" score regardless of whether it is used for fitness purposes.

Try to avoid repeating code. You can set it up so that numbers from your fitness functions can be used for fitness or as "other" scores so you don't have to copy everything.

[2017-06-07 14:08] schrum2 opened #364 "Plot "other" score of number of map switches."
The map sequence should track how many times the map has actually changed so that you can plot this number as n "other" score. When this it plotted side by side with other fitness values, it will be clear if a fitness drop corresponds to a map change, which would make sense.

[2017-06-07 14:09] schrum2 opened #365 "Average Unit Difference works?"
Make sure this fitness function works. It is completely flat in the experiments that I ran recently, meaning that it either does not work, or that even if it is technically behaving the way it is supposed to, it is a worthless fitness function.

[2017-06-07 14:59] DarwinJohnson commented on #315
The Othello Papers have been added.

[2017-06-07 15:45] schrum2 commented on #325
Please run VizDoom-DefendCenter-moHNSmudgeRowAllColors.bat as well, but
change the pop size and trials to match this previous result.

Something else to consider, which would actually require changing the code,
is changing the fitness to punish missed shots.

A bit of searching around indicates that the agent starts with 26 bullets
in this task, and the enemies in this task die with a single shot.

[2017-06-07 16:21] #365 closed, assigned to alicequint

[2017-06-07 18:49] #363 closed, assigned to alicequint

[2017-06-07 18:59] DarwinJohnson commented on #335
The TwoDimensionalBoardGameViewer is fully implemented and tested. It runs perfectly now.

[2017-06-07 18:59] #335 closed, assigned to DarwinJohnson

[2017-06-07 19:10] schrum2 opened #366 "HumanVisualBoardGamePlayer"
Now that the 2D game viewer works, create a new board game player that can be used as long as the board game viewer is active. It works by waiting for the human player to click on a valid location to make a move. This should be easy for Othello and TTT, though extra work may be needed to get Checkers to work ... don't worry about that just yet.

In fact, this should be a pretty low-priority issue,

[2017-06-07 19:25] DarwinJohnson opened #367 "Troubleshoot Checkers Batch Files"
The Checkers Batch Files are not working for some reason. Find and fix the errors.

[2017-06-07 19:45] DarwinJohnson commented on #367
The Error has been found: there is an issue with the CheckersState endState() method.

[2017-06-07 19:55] DarwinJohnson commented on #367
Considering adding a Pass Move similar to Othello in Checkers. Looked online for official rules, but didn't find anything conclusive. Most signs pointed to "no," however. For now, the Checkers game is simply over the first time a Player cannot make a valid Move.

[2017-06-07 19:55] #367 closed, assigned to DarwinJohnson

[2017-06-07 20:39] DarwinJohnson commented on #357
Created a Checkers Batch File that uses the AdvancedCheckersFitnessFunction. Will run and document the results.

[2017-06-07 20:54] DarwinJohnson commented on #361
Created the general WeightedPieceCounter Heuristic and the OthelloWeightedPieceCounter Heuristic. Created several Othello Batch Files that use the new Heuristic. Batch Files run successfully.

[2017-06-07 21:31] #364 closed, assigned to alicequint

[2017-06-07 21:50] DarwinJohnson commented on #350
Ran Checkers-MOBDStaticAlphaBetaPD for 96 generations with default settings, including the SimpleWinLoseDraw FitnessFunction.
Final Results: Max: 0.1 Avg: -1.0 Min: -2

Ran Othello-MOBDStaticAlphaBetaPD for 28 generations with default settings, including the SimpleWinLoseDraw FitnessFunction.
Final Results: Max: 0.4 Avg: -0.6 Min: -1.4

[2017-06-08 00:34] schrum2 commented on #361
Try playing a game, as a human, against the Weighted Piece Counter. Confirm that it is a decent player. Once you are convinced of this, you can close this issue.

Side note: all Othello batch files for evolving against a static opponent should be against this opponent ... no point keeping the piece differential and random opponent batch files around.

[2017-06-08 00:48] schrum2 opened #368 "Show networks for single population coevolution"
There are several command line parameters responsible for displaying network information in the post watch batch files. Things like showNetworks, showCPPN, monitorSubstrate, monitorInputs, showWeights, etc.

The reason that all of the interesting network and input information displays when these parameters are set is that the LonerTask sets up all of the visualization before the evaluation happens

[2017-06-08 01:46] schrum2 opened #369 "Do post evals work for single population coevolution?"
Multi-population coevolution requires special post-watch batch files and "experiment" classes, but what about single-population coevolution? What happens when you run a post eval on a board game result evolved with single-population coevolution? Does it crash, or does it actually show a game ... if it shows, a game, then who are the opponents that face off?

This task should probably be completed

[2017-06-08 04:49] schrum2 commented on #330
I've taken care of the major data structure issues associated with this. However, you still need to move the code into the CPPN note sequence player, make breedesizer actually use it, delete the old code that isn't used, comment the code, and tie up most loose ends.

Once the CPPN note player is back in shape, it should be easier to add back the ability to interrupt play.

We also need to figure o

[2017-06-08 05:01] schrum2 opened #370 "connection cost meta-heuristic for hyperNEAT's substrate networks"
A general objective that punishes the number of connections in HyperNEAT's substrate networks may encourage modularity, including a bias toward convolutional structure.

[2017-06-08 13:57] schrum2 opened #371 "Major error in win/loss tracking"
When the blue agent loses, the win/loss score is a 2, but when it wins the score is a 1.

[2017-06-08 14:06] schrum2 opened #372 "Fitness awarding aggression and/or destruction of enemy units"
Preliminary results with MLPSMCTSIterativeHYPER indicate that the agents can sometimes fend off the opponent, but they often wander aimlessly and never finish off the base.

Some component of the fitness function needs to reward the destruction of enemy units. However, we have to be careful ... simply granting fitness for each enemy unit destroyed could backfire if it means that our agent stupidly

[2017-06-08 14:30] schrum2 opened #373 "Increasing number of opponents"
Include a boolean command line parameter "microRTSGrowingEnemySet" that treats the incremental enemy sequence differently: Instead of switching between opponents, each "switch" point instead adds yet another enemy agent to the set of opponents.

In this paradigm, one eval/trial counts as facing off against each opponent in the set, so it would make sense to set the number of trials to 1 when evolv

[2017-06-08 14:51] twerisa commented on #330
I've found some interesting discrepancies with tempo playback when testing out another solo piano audio file. I measured tempo markings using a metronome on my phone to see if there was a common pattern with a difference in playback speed, but this is what I found:
Original Fur Elise: 140-145 BPM
Deconstructed Fur Elise: 110 BPM
Original Solo Piano: 145 BPM, 95 in development
Deconstructed Solo Pi

[2017-06-08 16:02] alicequint commented on #371
i believe this has been fixed, ill close this issue when its confirmed

[2017-06-08 16:23] schrum2 commented on #330
In theory, that magic number 2 should only affect volume, which in some
cases also affects speaker pop/crackle. However, we will have to keep
trying different things to see what works.

[2017-06-08 19:02] #371 closed, assigned to alicequint

[2017-06-08 19:35] DarwinJohnson commented on #368
It's now possible to watch both StaticOpponent and Coevolution Batch Files during evolution, and it's still possible to run a PostWatch on a StaticOpponent. It's still not possible to run a PostWatch on a Coevolution Batch File, but that task is part of Issue #369.
   When watching a Coevolution Batch File during evolution, the Board Inputs remain the same for both Players (because they're both pl

[2017-06-08 19:35] #368 closed, assigned to DarwinJohnson

[2017-06-08 20:43] #348 closed, assigned to alicequint

[2017-06-08 21:31] DarwinJohnson commented on #369
Is there an easy way to access the Parameter data in a given Batch File run? There are several Parameters in the BoardGameBenchmarkExperiment that need to be initialized to the same variables as the original Batch File run in order to maintain consistency. For example, the BoardGame, FitnessFunction, and HeuristicFunction need to be identical to those specified in the original one.

[2017-06-08 21:38] DarwinJohnson commented on #357
Ran the AdvancedCheckers Batch File, but it would be difficult to compare the results to the Simple FitnessFuntion Checkers due to the sheer difference in numbers. Here were the AdvancedCheckers  final results:
Generations: 73
Max: 230.4 Avg: 222.2 Min: 219.2

Other than the difficulty in comparing the two FitnessFunctions, I think that the AdvancedCheckersFitnessFunction fully works.

[2017-06-08 21:54] DarwinJohnson commented on #369
Need to create a Batch File in the Root Directory that calls the BoardGameBenchmarkExperiment.

[2017-06-08 21:54] #319 closed, assigned to twerisa

[2017-06-08 21:56] twerisa opened #374 "Save evolved animation as a gif"
Write the save() method in AnimationBreederTask so that it successfully saves an animation as a gif.

[2017-06-08 21:58] schrum2 opened #375 "board game "other" score that tracks win/loss/tie"
The standard win/loss/tie fitness function contains useful information that we would like to have, even if we are evolving with an alternative fitness function, such as the advanced Checkers fitness function. The fitness score may be high, but are we winning?

In order to tell, you need to track the win/loss/tie fitness as an "other" score. To make things easy, track this value as an other score,

[2017-06-08 22:17] schrum2 commented on #373
Following error when trying to run the new iterative set batch file:

Constructor: public edu.utexas.cs.nn.tasks.microrts.iterativeevolution.Competiti
veEnemySequence()
Exception in thread "main" java.lang.reflect.InvocationTargetException
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
        at sun.ref

[2017-06-09 02:08] schrum2 opened #376 "animations: turning inputs off"
In the animation breeder, whenever an input is turned off, you need to clear all pre-computed animation images so that the animation will be accurate.

[2017-06-09 02:13] schrum2 opened #377 "Save remixed pictures"
Currently the save feature causes an exception.

[2017-06-09 02:25] schrum2 commented on #359
I have a pretty drastic idea for enhancing the picture remixer. It involves the CPPN using LOTs of new inputs. For this attempt at improving the picture remixer, keep all of the old code around rather than changing it. However, comment out any method that you replace.

Instead of averaging the H,S,B values within a predefined window, make the CPPN accept a large number of inputs within the sample

[2017-06-09 02:28] schrum2 opened #378 "Swap bias and time label inputs in animation breeder interface"
Bias should always be at the end.

[2017-06-09 14:14] #370 closed, assigned to schrum2

[2017-06-09 14:32] #378 closed, assigned to twerisa

[2017-06-09 14:52] #376 closed, assigned to twerisa

[2017-06-09 16:20] DarwinJohnson commented on #366
The Human 2DBoardGamePlayer is now fully implemented and has been tested. Everything appears to be working now. Further details are included in the previous commit: 1711beb .

[2017-06-09 16:20] #366 closed, assigned to DarwinJohnson

[2017-06-09 16:32] DarwinJohnson commented on #361
After a series of tests, I believe that the Weighted Piece Counter is a decent Heuristic. While the first batch of evolved opponents weren't particularly skilled, they made Moves that made sense and were challenging to play against. It will be interesting to play the fully evolved opponents. For now, we can be assured that this Heuristic makes sense to use, and provides a challenge to play against

[2017-06-09 16:32] #361 closed, assigned to DarwinJohnson

[2017-06-09 20:18] #374 closed, assigned to twerisa

[2017-06-09 20:38] DarwinJohnson commented on #325
Ran VizDoom-DefendCenter-moHNSmudgeRowAllColors with a population size of 100 with 5 trials each. Test completed 101 generations at the time of this log; will keep running over the weekend to see if any improvement occurs. As of right now, these are the scores:
Time Spent Alive: Max: 1474 Avg: 1171 Min: 823
Targets Hit: Max: 10.5 Avg: 8.1 Min: 5.8
Doom Reward: Max: 19.0 Avg: 14.6 Min: 10.3

[2017-06-09 20:47] schrum2 opened #379 "breedesizer save file location"
Breedesizer asks the user to specify a location for both the wave BMP and the actual sound WAV file. The BMP image gets saved where the user designates, but the WAV always gets saved in the base MMNEAT directory, no matter what location is selected from the Chooser dialog. Needs to be fixed.

[2017-06-09 20:47] alicequint commented on #372
this is now a part of progressive fitness function,
if the results we get on monday are reasonable, i'll close this issue

[2017-06-09 20:50] alicequint commented on #373
this has been confirmed fixed! microRTSTask runs fine with growingSet both true and false

[2017-06-09 20:50] #373 closed, assigned to alicequint

[2017-06-09 21:00] schrum2 commented on #370
Followup note: a connection cost in the substrate networks was catastrophically bad in Tetris. The networks strongly favored having very few links, leading to bad behavior. I don't understand why NSGA2 wasn't able to select for both ... maybe population was too small?

[2017-06-09 21:01] #377 closed, assigned to twerisa

[2017-06-09 21:11] #379 closed, assigned to twerisa

[2017-06-09 21:19] DarwinJohnson commented on #322
Are there any more Feature Extractors that need to be implemented soon?

[2017-06-10 02:12] schrum2 opened #380 "Checkers end state error"
Visualizations are very useful.

I was playing Checkers, and the following state was labelled as a terminal state (I was playing against the piece differential heuristic and game over occurred).

![image](https://user-images.githubusercontent.com/8397236/26999148-6196626c-4d58-11e7-8943-b6d5e23d9e17.png)

Fix this error (make a JUnit test that verifies that this exact state is not terminal, and al

[2017-06-10 04:01] schrum2 commented on #322
Nope, I'm closing this issue. If we think of a new feature extractor we need, I'll make a new issue for it.

[2017-06-10 04:01] #322 closed, assigned to DarwinJohnson

[2017-06-10 20:15] schrum2 opened #381 "Board game viz bug"
When doing a post eval watch on board games with more than 1 trial, only the first trial is shown. The network visualization indicates that the other games are happening, but they are not displayed.

[2017-06-11 01:46] schrum2 opened #382 "microRTS fitness scores broken"
All fitness scores seem to hold constant values of -1 or 0, making evolutionary progress impossible. Find out what the error is.

[2017-06-11 03:03] schrum2 opened #383 "microRTS: how frequently is the evaluation function actually being used?"
It occurs to me that I'm not entirely certain how/when some of the policies you have identified actually use an evaluation function. If the evolved evaluation function is being used seldom, then it won't have a strong impact on behavior.

Alternately, it could be the case that combining a strong evolved evaluation function with the agents you have identified would be useful, but that evolving the

[2017-06-11 04:39] #334 closed, assigned to schrum2, alicequint

[2017-06-11 05:28] schrum2 opened #384 "Save score history"
When inheritFitness is used, the score history needs to be saved so that runs can resume after failure.

[2017-06-12 15:05] schrum2 opened #385 "microRTS crash at gen 20: Issue with enemy sequence"
Here is the stack trace:

Exception in thread "main" java.lang.reflect.InvocationTargetException
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
        at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
        at java.lang.reflect.Method.invoke(Unknown Source)
        at org.eclipse.jdt.

[2017-06-12 15:06] DarwinJohnson commented on #381
This error has been fixed.

[2017-06-12 15:06] #381 closed, assigned to DarwinJohnson

[2017-06-12 18:18] #360 closed, assigned to twerisa

[2017-06-12 18:21] #382 closed, assigned to alicequint

[2017-06-12 18:29] DarwinJohnson commented on #380
Changed the code in the CheckersState class pertaining to the Double Jump and Forced Jump. This appears to have fixed the EndState Error. Played through several Checkers games to ensure the code was working, and I was able to complete several matches without the game ending before an End State. I believe that this Issue can be closed.

[2017-06-12 18:29] #380 closed, assigned to DarwinJohnson

[2017-06-12 18:53] alicequint commented on #385
i haven't been able to recreate this issue,
tests with growingEnemySet set to both true and false have been able to change enemies successfully

[2017-06-12 18:58] alicequint commented on #372
even though the batch files that were ran over the weekend failed due to unrelated bugs, tests from today suggest that this feature is working.

[2017-06-12 18:58] #372 closed, assigned to alicequint

[2017-06-12 19:06] schrum2 opened #386 "Note length slider for MIDI"
You are already working on this, but regarding the scaling, refer to this link:
https://stackoverflow.com/questions/2172574/jslider-for-doubles

[2017-06-12 19:29] twerisa commented on #386
Dealt with this issue in my last commit. JSlider is enabled and allows the user to decide playback speed, which means we don't have to figure out how to calculate it correctly for the moment - woo!

[2017-06-12 19:29] #386 closed, assigned to twerisa

[2017-06-12 19:31] alicequint commented on #383
i havent read the papers yet but based on running the code with print statements:

MLPSMCTS evaluates 100-200 game states on cycle 0 and then 1000 (seems to be gradually increasing) game states every following 10 cycles

Portfolio evaluates 100-200 game states on cycle 0 and then ~700 game states every following 10 cycles

PuppetSearchAB starts similarly but then evaluates 1300+ game states Every

[2017-06-12 20:50] schrum2 commented on #258
Once this is implemented, test it by adding a batch file to the batch\RLGlue-Tetris-Experiments subdir.
Copy RLGlue-Tetris-HyperNEATRaw.bat, but then adjust it to use HybrID. At first, you can make the HybrID switch occur at a very early generation to make sure that it works. You can check the file sizes of the xml networks saved to get a good idea of whether it worked.

[2017-06-12 21:27] #356 closed, assigned to schrum2

[2017-06-12 21:29] schrum2 commented on #330
I think the only items on the TODO list for this issue are to calculate the note length multiplier more accurately, and to figure out a general way to account for what we divide the sum of amplitudes by to get a good volume. Try doing a bit more research on the note length issue, and I'll look at the volume issue.

[2017-06-12 21:45] DarwinJohnson opened #387 "BestObjective-StaticOpponent Post Eval for BoardGames"
Create a BoardGameBenchmark Experiment that only loads the best Agents in each Objective for the Board Games. Create a Batch File that calls this Experiment in a manner similar to the postBoardGameBenchmarkAllPopExperimentHumanWatch Batch File.

[2017-06-12 21:58] alicequint commented on #320
all of the easy methods in complex eval function are done, including gameStateToArray, although for it to work i need to complete the implementation of another method called populateSubstrates, which takes a unit, the array, and some information about the substrate sizes etc and represents the unit in the appropriate place in the array, depending on the command line parameter

[2017-06-13 04:18] schrum2 commented on #383
Looked at the code. I feel that some issues had to be fixed. See me upcoming commit.

[2017-06-13 05:24] schrum2 commented on #258
My last commit may actually complete this task. I'll do some extra testing, but you should move on to the hybrID extensions issue. #297

[2017-06-13 14:39] alicequint commented on #385
nevermind, i Was able to recreate this issue! (it only happens when the gensPerEnemy is >1 (this is why i couldnt recreate it in my tests yesterday) and growingEnemySet is true)

[2017-06-13 15:28] #383 closed, assigned to alicequint

[2017-06-13 16:31] DarwinJohnson commented on #375
The tracking of Other Scores now works for BoardGames. However, the SimpleWinLoseDrawBoardGameFitness Score does not appear when the Checkers Advanced Fitness is the primary Fitness Score. The Plot Window will state that it's depicting the Other Score, but nothing will appear in the graph. This is likely due to the scaling of the window, but I am unsure of how to fix this issue. Once this is done,

[2017-06-13 16:54] DarwinJohnson opened #388 "Make HyperNEAT Work with MultiPop Coevolution"
Using HyperNEAT doesn't work when evolving with multiple populations. Find a way to fix this.

[2017-06-13 16:57] DarwinJohnson opened #389 "Save Best Individuals for SinglePopCoevolution"
The best individuals for each Objective is saved in LonerTasks, but not in the SinglePopulationCoevolutionTasks. Use the code from the LonerTask as a template to save the individuals during SinglePop Coevolution when netio:true.

[2017-06-13 17:05] schrum2 commented on #375
It's possible that you are either not "registering" the "other" score in the constructor for the task, or that the number of other scores (a method defined in the task) is returning the wrong number. Also note that when you register an "other" score, extra parameters are required to specify that it is an "other" score rather than a fitness objective. Alice has some experience with this, so ask for

[2017-06-13 19:13] schrum2 opened #390 "Randomness in minimax choices"
Playing against deterministic opponents poses some problems for evolution, because the resulting fitness may indicate that the agent is successful, while in reality it has simply "over fit" its behavior in order to deal with the specific sequence of moves that the deterministic player used. The evolved player may have major weaknesses when it comes to other board states.

This problem can be mitig

[2017-06-13 19:15] DarwinJohnson commented on #389
The best Agents from Single Population Coevolution can now be accessed in the same way as the Agents from Static evolution. As a result, the BoardGameBenchmark Experiments will now work with both. The BoardGameBenchmark Experiments and Batch Files have been renamed to reflect this change.

[2017-06-13 19:15] #389 closed, assigned to DarwinJohnson

[2017-06-13 19:23] DarwinJohnson commented on #375
The Other Scores are finally properly tracked in BoardGameTasks. The Other Scores are plotted as expected, and everything is working.

[2017-06-13 19:23] #375 closed, assigned to DarwinJohnson

[2017-06-13 19:23] schrum2 opened #391 "Importance of eval function sanity check"
I really want to make sure that the evaluation functions we are evolving actually matter.

Make a DummayEvaluationFunction that always returns a value of 0.

Have MCTS, UCT, and Portfolio agents use this evaluation function to play games against the opponents you are using in your enemy sequence ... you should be able to easily do this using the Frontend, as long as you add the dummy function the

[2017-06-13 19:30] DarwinJohnson commented on #387
Due to the changes made in commit 4881f3f , the best Agents for both Static and SinglePop Coevolved Tasks can now be accessed in the same way. As a result, the previous BoardGameBenchmark Experiment that worked with Static Evolved Agents now works with SinglePop Coevolved Agents; it's possible to have a Human Player play against the best Evolved Agent. The BoardGameBenchmark Experiments and Batch

[2017-06-13 19:30] #387 closed, assigned to DarwinJohnson

[2017-06-13 19:36] DarwinJohnson opened #392 "Checkers King Double-Jump Error"
When theoretically able to Double/Multi-Jump with a King in Checkers, the Game does not allow a Player to make the second Move to complete the Double-Jump. Possibly related: If able to Jump with either a King or a regular Check, the Game forces the Player to jump with the Check; the King's Forced Jump is not counted. Find the source of both of these errors.

[2017-06-13 19:58] DarwinJohnson commented on #392
The King Double/Multi-Jump Error has been fixed, as well as the Forced Check Jump when both a Check Jump and a King Jump are available. Hopefully, this is the last Error in Checkers State.

[2017-06-13 19:58] #392 closed, assigned to DarwinJohnson

[2017-06-13 20:17] schrum2 commented on #323
I'm closing this since the issue of getting multi-pop to work with HyperNEAT #388 will be used to track the final step in this process.

[2017-06-13 20:17] #323 closed, assigned to DarwinJohnson

[2017-06-13 20:35] schrum2 commented on #385
Not certain if this is related, but the latest version had another crash at generation 20. See exception below:

Exception in thread "main" java.lang.reflect.InvocationTargetException
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
        at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)

[2017-06-13 21:11] DarwinJohnson commented on #390
The Minimax Player now has a parameter controlling the chance that the Agent chooses a random legal Move as opposed to the best possible Move. This parameter is called minimaxRandomChance, and its default is 0.  The method implemented is based on Temporal Difference Learning Versus Co-Evolution for Acquiring Othello Position Evaluation by Simon Lucas and Thomas Runarsson. The paper is in the Artif

[2017-06-14 00:09] schrum2 opened #393 "MicroRTS Coevolution with increasing size map sequence"
I feel that the focus of your attention has been on the enemy sequence, but let's not forget about coevolution. I think this all works already, but set up a batch file that will co-evolve microRTS agents within a single population across a sequence of maps of increasing size using HyperNEAT.

[2017-06-14 00:44] schrum2 opened #394 "General substrate configuration options"
I would like you to provide more substrate configuration options for the microRTS task, but I realized that this is actually a more general task. Substrates for many domains can essentially be configured according to a few basic parameters. Make static methods in the HyperNEATUtil class that take several parameters and return the substrate list and the connections list needed by HyperNEAT tasks. H

[2017-06-14 00:47] schrum2 commented on #315
This general task has led to some specific issues already, and we will simply create more as needed. However, this high-level general issue can be closed now.

[2017-06-14 00:47] #315 closed, assigned to DarwinJohnson

[2017-06-14 00:51] schrum2 commented on #350
I'm interested in a side-by-side comparison. Properly doing this requires a lot of runs, but for now, run a single experiment with Othello against the weighted piece counter, and run another experiment that is identical in every way, except that it uses Behavioral Diversity. Then we can check the results side by side.

Be sure to set the minimax search depth high, say 5, for each of the batch file

[2017-06-14 00:52] schrum2 commented on #369
Remind me: what is left before this issue is resolved?

[2017-06-14 00:57] schrum2 opened #395 "Hall of Fame during Board Game coevolution"
Look up papers that apply co-evolution to board games using a hall of fame. A hall of fame is a collection of evolved agents across several generations that were the best of their given generation. Halls of fame are typically used with coevolution as a way to assure that learned skills are not forgotten. The population keeps getting evaluated against members of the hall of fame.

A special type of

[2017-06-14 02:17] schrum2 commented on #297
I've been looking at Auto-Switch-HybrID, and one problem with applying it is that it is intended for domains with reliable fitness evaluation. Nearly every domain that MM-NEAT is applied to has noisy fitness evaluation, meaning that the same agent may earn different scores on subsequent evaluations. As a result, the fitness plots with MM-NEAT tend to fluctuate a lot, making a strict application of

[2017-06-14 14:10] alicequint commented on #385
yesterday during the day i was running MLPSMCTS-IterativeSet, and it got To generation 20 without crashing by 5, but it seems that it crashed before it got to the next generation.

the stack trace indicates that it's the same / by zero error that caused it before. I'll try toubleshooting it later today

[2017-06-14 16:33] alicequint commented on #391
portfolio ai isnt available in the front end by default so im going to try to add it because i think that, since were using it so often, that information could be very useful

[2017-06-14 18:50] #330 closed, assigned to schrum2, twerisa

[2017-06-14 19:19] schrum2 opened #396 "MIDI Playback with multiple CPPNs in breedesizer"
Make a version of playMIDIWithCPPNFromString that takes an array of Network CPPNs instead of just one. Call soundLines and lineToAmplitudeArray for each track with a different CPPN. If the number of tracks exceeds the number of CPPNs, then loop around and start from the beginning with the CPPNs (come may be used multiple times, or some may not be used at all).

Add the amplitude arrays produced fr

[2017-06-14 19:34] alicequint commented on #391
here are the results:
https://docs.google.com/document/d/13-LhgMWnu_hquIzPqAIZqQKjhhFQLHZESl6me_tW230/edit

[2017-06-14 19:34] #391 closed, assigned to alicequint

[2017-06-14 19:48] twerisa commented on #283
We decided that tests could be improved, but are very muddled at the moment, so it's best to work on other things especially since it's clear that HyperNEATCPPNGenotype works.

[2017-06-14 19:48] #283 closed, assigned to twerisa

[2017-06-14 20:00] schrum2 commented on #318
Potentially helpful links for this issue:
http://blog.rogach.org/2015/08/how-to-create-your-own-simple-3d-render.html
http://www.javaworld.com/article/2076832/java-se/3d-graphics-programming-in-java--part-1--java-3d.html
http://www.javaworld.com/article/2076745/learn-java/3d-graphic-java--render-fractal-landscapes.html

You may need to incorporate an external jar file to get access to 3D options.

[2017-06-14 20:02] alicequint commented on #385
it seems from tests to far that the crash happens on gen 20/21 REGARDLESS of map / enemy switches

[2017-06-14 20:06] schrum2 commented on #391
These results are very helpful, and indicate to me that we should stop evolving agents using the Portfolio agent. It is a good agent, but a lot of its skill comes from its human-designed components, so there doesn't seem to be much room for evolution to do anything interesting.

Focus on evolving evaluation functions for MLPSMCTS, UCT, and PuppetSearch.
Note: we eventually want to defeat these age

[2017-06-14 20:33] schrum2 opened #397 "Extra convolutional network features"
Add support for zero padding, and use of ReLU (or other activation functions?) in convolutional layers.

[2017-06-14 20:40] DarwinJohnson commented on #369
I don't think there's anything left. The postEvals work with both Static and SinglePop Coevolved Agents, though we are unsure if it works with Multipop Coevolved Agents. I remember you said you wanted to clean up the Batch Files that called this postEval and make them more user-friendly, but I think that's it.

[2017-06-14 20:43] DarwinJohnson commented on #390
Is there anything else that needs to be done before this Issue can be closed?

[2017-06-14 20:54] DarwinJohnson commented on #350
Running the two Othello games on the Tower of Power. Will run overnight and document the results. minimaxSearchDepth is set to 5 for both, trials = 10, mu = 100, and maxGens = 500.

[2017-06-14 20:59] schrum2 commented on #390
Nope! I'll close it.

[2017-06-14 20:59] #390 closed, assigned to DarwinJohnson

[2017-06-14 21:05] schrum2 commented on #362
There is one thing we could do to improve this. Here is how I think this currently works in a coevolution context:
Coevolution picks two agents, then play each other, and afterward each one plays a game against the static opponent. Unfortunately, these same agents will be picked again to go against different opponents, but be required to play against the static opponent again! This is a waste of r

[2017-06-14 21:15] schrum2 commented on #394
For the getSubstrateConnectivityExceptOutputs method, add a parameter that is a List of Strings containing the names of all output substrates. This will allow this method to also define these connectivity patterns.

If the "extraHNLinks" parameter is true, then all input substrates should be connected to all output substrates (see HyperNEATTetrisTask).

If there are any processing layers, then eve

[2017-06-14 21:15] alicequint commented on #393
i have confirmed that this works

[2017-06-14 21:15] #393 closed, assigned to alicequint

[2017-06-14 22:09] schrum2 opened #398 "HyperNEATConvolution3ProcessingRaw batch file running hybrID?"
This batch file (and maybe others?) are switching over to using hybrID at gen 200, even though they are not configured to do this. I guess the hybrID switch condition is faulty?

[2017-06-15 02:05] schrum2 commented on #394
My commit above and the issue comment above that indicate that the output layers should be included after all.

[2017-06-15 02:09] schrum2 commented on #388
Do put some work into this. We probably need to sit down and talk about it, but if I'm not around then go ahead and document the cause of the error in this GitHub issue (stack trace, along with any other useful information you can figure out)

[2017-06-15 02:13] schrum2 commented on #369
Basically, I want it to be easy to pit the evolved agents against opponents besides the human opponent. I was hoping this could be easily specified with a command line parameter, but the opponent and its accompanying heuristic are both length class names, so I don't think that's practical.

Instead, I think the appropriate thing to do is to have some extra batch files for opponents we would want t

[2017-06-15 02:19] schrum2 opened #399 "Checkers players"
First, here is another paper to add to the repository and to mention in your writing:
https://pdfs.semanticscholar.org/91c9/d140267f3b008d00b330b6b0e9182fa4b62e.pdf

This paper is about evolving heuristics for checkers players. However, it includes discussion about many other heuristic-based techniques, and suggests useful features for a heuristic Checkers player. I would like to have a stronger s

[2017-06-15 02:22] schrum2 commented on #399
Also, here is another Checkers paper that probably doesn't provide much practical guidance, but contains useful information that might be worth citing or discussing later:
http://library.msri.org/books/Book29/files/schaeffer.pdf

[2017-06-15 02:25] schrum2 commented on #297
Running some short experiments (batch files) that use offset hybrID is appropriate. Modify the existing Tetris hybrID batch files, but set the switch point to a small number so you don't have to wait long for it to happen.

[2017-06-15 02:38] schrum2 commented on #258
HybrID definitely works in that it switches the genotypes, though I am slightly confused as to why experiments so far exhibit a huge fitness drop after the hybrID switch (opposite of desired effect, but maybe Tetris just isn't a good test domain).

[2017-06-15 02:38] #258 closed, assigned to schrum2

[2017-06-15 02:41] schrum2 commented on #398
HybrID was turned on by default ... nothing wrong with batch file.

[2017-06-15 02:41] #398 closed, assigned to schrum2

[2017-06-15 02:47] schrum2 commented on #297
Also, about the comment above, once the batch files seem to work (do one for both "Raw" and "Features") change the preset hybrID switch point to 100, and commit the batch files.

[2017-06-15 05:27] schrum2 opened #400 "QuickMapSequence"
For ease of troubleshooting, create a quick map sequence class that goes through maps of increasing size by switching maps every 2 generations. This way, recompiling will not be needed to switch back and forth between frequent and infrequent map switches.

[2017-06-15 05:30] schrum2 commented on #385
Put assertions everywhere in the code indicating what you believe must be true at various points of execution. Use them to help track down where the bug is.

[2017-06-15 14:20] DarwinJohnson commented on #369
There is now a Batch File for having a Coevolved Othello Player play against an AlphaBetaPruning Minimax Player with a minimaxSearchDepth of 10 and a Weighted Piece Counter Heuristic. The Batch File allows you to visually watch the game stepByStep.

[2017-06-15 14:20] #369 closed, assigned to DarwinJohnson

[2017-06-15 14:52] #400 closed, assigned to alicequint

[2017-06-15 15:11] #385 closed, assigned to alicequint

[2017-06-15 15:35] DarwinJohnson commented on #351
Imported the GGP-Base into Eclipse. Will spend tomorrow coping the important files into a package in MMNEAT. So far, the only information we really have is from the Quick Start Guide found here: https://github.com/ggp-org/ggp-base
   I ran the Server class currently found in ggp-base/src/main/java/org.ggp.base.apps.server , and a GUI window popped up. It appears to have controls for choosing which

[2017-06-15 15:56] DarwinJohnson commented on #350
Small update: the Othello-MOBDStatic and Othello-Static tasks running on the Tower of Power have completed Gen 0. Maybe it's just really, really slow. I've noticed that Othello Batch Files take longer than Checkers Batch Files to run, though I don't know why. Or, maybe the Tower was asleep overnight and just now woke up enough to complete that Gen. The Othello-MOBDStatic and Othello-Static tasks r

[2017-06-15 18:07] DarwinJohnson commented on #350
Othello-MOBDStatic and Othello-Static had completed Gen 0 after approximately 16 hours. The minimaxSearchDepth was too large to run experiments with any speed at all. Both Batch Files now have a minimaxSearchDepth of 2, and both are running on the Tower of Power. All other variables remain the same, and results will be documented.

[2017-06-15 18:13] DarwinJohnson commented on #362
The Hashmap appears to have cut down on the evaluation time of the Coevolved Agents; Checkers-HNSinglePopCompCoevolveAdvanced completed 15 Generations within 4 hours, and Othello-HNSinglePopCompCoevolve has completed 10 Generations. This is an improvement from the last run times.

[2017-06-15 18:20] #396 closed, assigned to twerisa

[2017-06-15 19:41] DarwinJohnson opened #401 "Board Game Player Evaluations"
Make individual evaluations of Board Games force all Players to play one game as each possible player Index; i.e., have the Agents play one round as the Black Checks and one round as the Red Checks in Checkers during one evaluation.

[2017-06-15 19:55] alicequint commented on #358
this has already been done. the only thing left, to my knowledge, is evolving a good enough neural network for the evaluation function to load

[2017-06-15 19:59] alicequint commented on #385
i didnt mean to close this issue in the earlier commit, but now i believe it should be closed anyway. our test has run to generation 24 without crashing!

[2017-06-15 20:36] DarwinJohnson commented on #362
With the added optimization, this Issue can now be considered complete.

[2017-06-15 20:36] #362 closed, assigned to DarwinJohnson

[2017-06-15 20:37] DarwinJohnson commented on #394
The getSubstrateInformation and getSubstrateConnectivity methods in the HyperNEATUtil class are finalized and have been tested. Unless further confirmation is needed, I think this Issue can be closed.

[2017-06-15 20:42] twerisa commented on #340
This link code contains some useful examples regarding conversions between AudioFormats:
http://coweb.cc.gatech.edu/mediaComp-plan/uploads/55/JavaSound.java
I'll try to parse some of the methods to see if I can convert 8 bit files to a 16 bit format so that they can be played back with the sound remixer. There seem to be a lot of magic numbers in this class - haven't looked them over closely so I'

[2017-06-15 21:08] schrum2 commented on #394
Keep open for now. I want @alicequint to use this code to replace her substrate construction in the microRTS task, and I want @DarwinJohnson to use this code to replace substrate construction in the board game tasks. I will take care of calling these methods for Tetris.

Note: You need to make two command line integer parameters first:
hyperNEATProcessingDepth and hyperNEATProcessingWidth
These co

[2017-06-15 21:10] schrum2 commented on #358
I think this is done, though related work in the separate SUai code still needs to be completed ... perhaps you can track that work here? I know that the next thing you need to do is define the Parameter options for the SU agent.

[2017-06-15 21:34] twerisa opened #402 "Change Construct3DObject so that it renders a cube"
Currently, Construct3DObject is not generalized and takes in three vertexes to generate a sphere. Modify it so that it renders a 3D cube that can be rotated in the same way the sphere is. The sides of the cube should be two triangles each.

[2017-06-15 22:10] schrum2 opened #403 "Problem with HybrID"
Network performance tanks after the hybrID switch, which doesn't make sense because performance should be identical ... the population contains the exact same networks, but encoded differently. Need to investigate why this is the case. Currently, I'm suspicious about how bias inputs are handled, and wonder if that could be the culprit.

[2017-06-16 02:26] schrum2 commented on #394
I've successfully made Tetris use the new substrate configuration functions ... you can look at that code if you need to see example usage.

Also, there are some more tasks that I want you to switch over to using these new methods:
For @alicequint : Make the MarioTask and the TorusPredPrey use the new methods (in addition to MicroRTS).

Both Mario and TorusPredPrey should compute the substrate inf

[2017-06-16 03:02] schrum2 commented on #341
Make sure that the smudging option you implement can be turned on and off. We should at least attempt to see how HyperNEAT handles the large maps on its own, but smudging could be very useful, so we still need to implement it.

[2017-06-16 03:21] schrum2 commented on #325
After you modify the VizDoom tasks to use the new substrate construction methods from #394 make a new batch file for DefendTheCenter task. Copy VizDoom-DefendCenter-moHNSmudgeRowAllColors into two new files.

First is VizDoom-DefendCenter-moHNSmudgeRowAllColorsConvolution. Add the parameter convolution:true to the file. This allows for a special type of network configuration that I've been working